In [3]:
import pandas as pd

In [22]:
pip install pyspark

Collecting pyspark
  Downloading pyspark-3.5.0.tar.gz (316.9 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 316.9/316.9 MB 5.2 MB/s eta 0:00:00m eta 0:00:01[36m0:00:01
  Installing build dependencies ... done
  Getting requirements to build wheel ... done
  Preparing metadata (pyproject.toml) ... done
Collecting py4j==0.10.9.7 (from pyspark)
  Downloading py4j-0.10.9.7-py2.py3-none-any.whl (200 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 200.5/200.5 kB 13.2 MB/s eta 0:00:00
Building wheels for collected packages: pyspark
  Building wheel for pyspark (pyproject.toml) ... done
  Created wheel for pyspark: filename=pyspark-3.5.0-py2.py3-none-any.whl size=317425344 sha256=633c5d436a583265e7d96c6d1344b7feb85026306b5cbb14aad9ffe3c972b25d
  Stored in directory: /home/carlos/.cache/pip/wheels/38/df/61/8c121f50c3cffd77f8178180dd232d90b3b99d1bd61fb6d6be
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.7 pyspark-3.5.0
Note: you may need to restart the kernel to use updated packages.

In [27]:
# PySpark imports
from pyspark.sql import SparkSession
from pyspark import SparkContext

# Spark context creation
spark = SparkSession.builder.appName("IPQ").getOrCreate()
sc = spark.sparkContext

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
23/10/19 15:42:12 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [28]:
# PySpark imports
import pyspark.sql.functions as F
from pyspark.sql import Window
from pyspark.sql.types import *

### CNAE'S INVESTIGACAO

In [19]:
cnaes = pd.read_csv('/home/carlos/projetos/base_cnae/Cnaes/cnae.csv', encoding='latin1', sep=';', header=None)

In [20]:
cnaes.head()

        0                                                  1
0  111301                                   Cultivo de arroz
1  111302                                   Cultivo de milho
2  111303                                   Cultivo de trigo
3  111399  Cultivo de outros cereais não especificados an...
4  112101                        Cultivo de algodão herbáceo

In [21]:
cnaes.count()

0    1359
1    1359
dtype: int64

### EMPRESA INVESTIGACAO

In [34]:
empresa_9 = spark.read.csv('empresas_9/K3241.K03200Y9.D31014.EMPRECSV', sep=';')

In [35]:
empresa_9.show()

+--------+--------------------+----+---+--------+---+----+
|     _c0|                 _c1| _c2|_c3|     _c4|_c5| _c6|
+--------+--------------------+----+---+--------+---+----+
|36627973|ANTONIO PEREIRA A...|2135| 50| 1000,00| 01|NULL|
|36627975|MICHELI PINHEIRO ...|2135| 50| 1000,00| 01|NULL|
|36627976|RAFAELA DA SILVA ...|2135| 50| 1200,00| 01|NULL|
|36627977|CAMILA SARAIVA MA...|2135| 50| 1000,00| 01|NULL|
|36627978|NATANE DOMINGOS 0...|2135| 50| 1000,00| 01|NULL|
|36627979|LORENA MARIA DE B...|2135| 50| 4000,00| 01|NULL|
|36627980|KARINE BRUNO DE O...|2135| 50|20000,00| 01|NULL|
|36627981|RAIMUNDO WELLINGT...|2135| 50| 5000,00| 01|NULL|
|36627983|EVELLYN BEATRIZ C...|2135| 50|  500,00| 01|NULL|
|36627984|RAFAELA FRANCISCO...|2135| 50|  300,00| 01|NULL|
|36627985|JULIANA RAMOS DE ...|2135| 50|  500,00| 01|NULL|
|36627986|FABRICIO DA SILVA...|2135| 50|  500,00| 01|NULL|
|36627987|MARIA LAUDECI SIL...|2135| 50| 2000,00| 01|NULL|
|36627988|WILLIAN MEIRES DE...|2135| 50|  300,00| 01|NULL|
|36627989|VERONICA TADEU PE...|2135| 50| 2500,00| 01|NULL|
|36627991|MONICA DE MORAIS ...|2135| 50| 1000,00| 01|NULL|
|36627992|HERON SILVA DE ME...|2135| 50|  200,00| 01|NULL|
|36627993|FELIPE ANDRADE E ...|2135| 50| 1000,00| 01|NULL|
|36627994|JULIO CESAR CRUZ ...|2135| 50| 2000,00| 01|NULL|
|36627995|ROSILENE APARECID...|2135| 50| 2000,00| 01|NULL|
+--------+--------------------+----+---+--------+---+----+
only showing top 20 rows

In [36]:
empresa_9.count()

4494860

In [39]:
empresa_9 = empresa_9.select(F.col("_c0").alias("cnpj_basico"),
               F.col("_c1").alias("razao_social"),
               F.col("_c2").alias("natureza_juridica"),
               F.col("_c3").alias("qualificacao_responsavel"),
               F.col("_c4").alias("capital_social"),
               F.col("_c5").alias("porte_da_empresa"),
               F.col("_c6").alias("ente_federativo"))

In [41]:
empresa_9.show(truncate=False)

+-----------+----------------------------------------------------+-----------------+------------------------+--------------+----------------+---------------+
|cnpj_basico|razao_social                                        |natureza_juridica|qualificacao_responsavel|capital_social|porte_da_empresa|ente_federativo|
+-----------+----------------------------------------------------+-----------------+------------------------+--------------+----------------+---------------+
|36627973   |ANTONIO PEREIRA ARANTES NETO 01699985170            |2135             |50                      |1000,00       |01              |NULL           |
|36627975   |MICHELI PINHEIRO FLOR 06035748902                   |2135             |50                      |1000,00       |01              |NULL           |
|36627976   |RAFAELA DA SILVA INACIO 13417608716                 |2135             |50                      |1200,00       |01              |NULL           |
|36627977   |CAMILA SARAIVA MANGUEIRA 15168807739                |2135             |50                      |1000,00       |01              |NULL           |
|36627978   |NATANE DOMINGOS 07586040923                         |2135             |50                      |1000,00       |01              |NULL           |
|36627979   |LORENA MARIA DE BRITO CAMARGO 09776918700           |2135             |50                      |4000,00       |01              |NULL           |
|36627980   |KARINE BRUNO DE OLIVEIRA BRAGA 88277704100          |2135             |50                      |20000,00      |01              |NULL           |
|36627981   |RAIMUNDO WELLINGTON DE SENA 85213594204             |2135             |50                      |5000,00       |01              |NULL           |
|36627983   |EVELLYN BEATRIZ CHARLO DE MELO RODRIGUES 46715196826|2135             |50                      |500,00        |01              |NULL           |
|36627984   |RAFAELA FRANCISCO FIGUEIREDO 46701565867            |2135             |50                      |300,00        |01              |NULL           |
|36627985   |JULIANA RAMOS DE MELO MARQUES 36687602845           |2135             |50                      |500,00        |01              |NULL           |
|36627986   |FABRICIO DA SILVA SEIXAS 01555083420                |2135             |50                      |500,00        |01              |NULL           |
|36627987   |MARIA LAUDECI SILVA DE ASSIS ALMEIDA 11182384862    |2135             |50                      |2000,00       |01              |NULL           |
|36627988   |WILLIAN MEIRES DE MARINS 17802351782                |2135             |50                      |300,00        |01              |NULL           |
|36627989   |VERONICA TADEU PEREIRA 05548260707                  |2135             |50                      |2500,00       |01              |NULL           |
|36627991   |MONICA DE MORAIS ROCHA 40845063898                  |2135             |50                      |1000,00       |01              |NULL           |
|36627992   |HERON SILVA DE MELLO 10584718721                    |2135             |50                      |200,00        |01              |NULL           |
|36627993   |FELIPE ANDRADE E SILVA 02060307384                  |2135             |50                      |1000,00       |01              |NULL           |
|36627994   |JULIO CESAR CRUZ DE SOUZA 46620172890               |2135             |50                      |2000,00       |01              |NULL           |
|36627995   |ROSILENE APARECIDA DE LIMA DE BRITO 15933062880     |2135             |50                      |2000,00       |01              |NULL           |
+-----------+----------------------------------------------------+-----------------+------------------------+--------------+----------------+---------------+
only showing top 20 rows

### Estabelecimentos investigacao

In [51]:


estabelecimentos_9 = spark.read.csv('estabelecimentos_9/K3241.K03200Y9.D31014.ESTABELE', sep=';', multiLine=False)

In [48]:
#estabelecimentos_9.show()
order = estabelecimentos_9.orderBy(F.col())

+--------+----+---+---+--------------------+---+---------+---+----+----+----------+-------+--------------------+--------+--------------------+-----+--------------------+-----------------+--------+---+----+---+--------+----+--------+----+--------+--------------------+----+----+
|24564062|0001| 94|  1|                 _c4| 02|201604116| 00| _c8| _c9|2016041110|0155504|             0159899| CHACARA|            ROUXINOL|    0|                _c16|        SAO BENTO|13160000| SP|6175| 19|38771023|_c23|    _c24|_c25|    _c26|                _c27|_c28|_c29|
+--------+----+---+---+--------------------+---+---------+---+----+----+----------+-------+--------------------+--------+--------------------+-----+--------------------+-----------------+--------+---+----+---+--------+----+--------+----+--------+--------------------+----+----+
|24564076|0001| 08|  1|             ROBATTO| 02| 20160411| 00|NULL|NULL|  20160411|9001902|8230001,5813100,8...|     RUA|  DOMINGOS MARREIROS| 1718|                NULL|         UMARIZAL|66060160| PA|0427| 91|80261595|NULL|    NULL|NULL|    NULL|soniaferro@robatt...|NULL|NULL|
|24564088|0001| 32|  1|         ALMEIDA MEI| 04| 20210303| 63|NULL|NULL|  20160411|7319002|             4782201|     RUA|           MEN DE SA|   57|                CASA| JARDIM AEROPORTO|76920000| RO|0017| 69|93299788|NULL|    NULL|NULL|    NULL|ronivaldoopo@hotm...|NULL|NULL|
|24564100|0001| 09|  1|KUMAM INDUSTRIA E...| 08| 20201208| 01|NULL|NULL|  20160411|4672900|             2593400|     RUA|      RIBEIRAO PRETO|  236|                NULL| ARRAIAL PAULISTA|06780190| SP|7157| 11|45675288|  11|57023793|  11|45675288|KUMAM.IND@HOTMAIL...|NULL|NULL|
|24564115|0001| 77|  1|   LOJAO DA ECONOMIA| 04| 20210422| 63|NULL|NULL|  20160411|4781400|     4755503,4789099|     RUA|  ALICE ROSA SANTANA|   17|                CASA|    ARNULFO ORFAO|45280000| BA|3571| 73|88686808|NULL|    NULL|NULL|    NULL|aamandas.silva@ho...|NULL|NULL|
|24564126|0001| 57|  1|NANCI TAMD TOUCAS...| 04| 20210319| 63|NULL|NULL|  20160411|1412601|                NULL|TRAVESSA|  JOAO DE SOUZA DIAS|   70|                NULL|        JACUTINGA|26564280| RJ|1116| 21|73512585|NULL|    NULL|NULL|    NULL|                NULL|NULL|NULL|
|24564204|0001| 13|  1|CRC INSTALACOES E...| 08| 20180625| 01|NULL|NULL|  20160411|3321000|3314707,4322303,4...|     RUA|               CHINA|  567|                NULL|PARQUE DAS NACOES|13470191| SP|6131| 19|36014699|NULL|    NULL|NULL|    NULL|  carlosrcjr@msn.com|NULL|NULL|
|14387130|0001| 33|  1|REGISDATA INFORMA...| 08| 20160411| 01|NULL|NULL|  20110930|4751201|9511800,9001906,3...|     RUA|Rua Professor Rub...| 4135|                NULL|  Jardim Paulista|15700726| SP|6597| 17|36328224|NULL|    NULL|NULL|    NULL|regisdata@bol.com.br|NULL|NULL|
|24564158|0001| 52|  1|       JM MOTO PECAS| 02| 20160411| 00|NULL|NULL|  20160411|4541206|             4530705| AVENIDA|      AV PIMENTEIRAS| 1142|                NULL|         VALENTIM|64300000| PI|1225| 89|99740245|NULL|    NULL|NULL|    NULL|GERENCIALVALENCA@...|NULL|NULL|
|24564173|0001| 09|  1|PC TREINAMENTO E ...| 02| 20160318| 00|NULL|NULL|  20160318|7319002|                NULL|     RUA|    CORONEL DULCIDIO| 1256|           APT   802|       AGUA VERDE|80250100| PR|7535| 41|32446917|NULL|    NULL|NULL|    NULL| PC@RODRIGUES.PPG.BR|NULL|NULL|
|24564184|0001| 80|  1|            CONSULTE| 02| 20160411| 00|NULL|NULL|  20160411|6204000|                NULL|     RUA|        FLAVIO UCHOA| 1699|                NULL|   CAMPOS ELISEOS|14085600| SP|6969| 16|38774010|  16|91704130|  16|39691223|RENATOJOSE@GMAIL.COM|NULL|NULL|
|24564193|0001| 71|  1|    KUHN INSTALACOES| 08| 20181107| 01|NULL|NULL|  20160411|4321500|                NULL|     RUA|      ALDO LOCATELLI|  359|                CASA|     SANTO INACIO|93290410| RS|8651| 51|96066525|NULL|    NULL|NULL|    NULL|vagnerkuhn.k@hotm...|NULL|NULL|
|24564206|0001| 02|  1|PIATTO DI PARMA C...| 02| 20160311| 00|NULL|NULL|  20160311|5611201|     4721104,5611203|     RUA|   GUILHERME ABRAHAM|   41|           SALA  101|           CENTRO|95670088| RS|8681| 54|32862741|NULL|    NULL|NULL|    NULL|DIRENO@DIRENO.COM.BR|NULL|NULL|
|24564219|0001| 81|  1|                NULL| 02| 20160411| 00|NULL|NULL|  20160411|4633801|     4930201,4930202| AVENIDA|            BRASILIA|10000|BOX   29         ...|          LINDOIA|86031770| PR|7667| 43|96611509|NULL|    NULL|NULL|    NULL|ATACADAOFOLLY7374...|NULL|NULL|
|24564233|0001| 85|  1|                NULL| 08| 20180928| 01|NULL|NULL|  20160411|5611201|             5620102| AVENIDA|        DOS ANDRADAS|  874|            LOJA  02|           CENTRO|36036000| MG|4733| 32|32134692|NULL|    NULL|NULL|    NULL|     ADM@MRJF.COM.BR|NULL|NULL|
|24564245|0001| 00|  1|                NULL| 04| 20210305| 63|NULL|NULL|  20160411|5611201|             8230001|TRAVESSA|       ALEX VALLAURI|   08|                NULL|       ITAIM BIBI|04533020| SP|7107| 11|31686467|NULL|    NULL|NULL|    NULL|FABIANO@JARDIMAUR...|NULL|NULL|
|24564255|0001| 45|  1|                NULL| 02| 20160411| 00|NULL|NULL|  20160411|4330404|                NULL|     RUA|URIAS RODRIGUES D...|   75|                NULL|  JARDIM BRASILIA|38401330| MG|5403| 34|96751835|NULL|    NULL|NULL|    NULL|DAIANE_MARY2012@Y...|NULL|NULL|
|24564266|0001| 25|  1|          MOTO LIVRE| 02| 20160409| 00|NULL|NULL|  20160409|4541206|     4520002,4543900| AVENIDA|                 V 8|   SN|QUADRA332        ...| CIDADE VERA CRUZ|74937630| GO|9227| 62|32777702|NULL|    NULL|NULL|    NULL|MOTOLIVRE.BURITI@...|NULL|NULL|
|24564278|0001| 50|  1|                NULL| 02| 20160411| 00|NULL|NULL|  20160411|6810201|             6810203|     RUA|SEBASTIAO FABIANO...|  210|                NULL|        BELVEDERE|30320690| MG|4123| 31|33125506|  31|    NULL|NULL|    NULL|GESTAC@GESTAC.COM.BR|NULL|NULL|
|24564292|0001| 53|  1|SERV FESTA DO SER...| 08| 20180410| 01|NULL|NULL|  20160411|4723700|                NULL|     RUA|FERNAO DIAS PAES ...|1213A|                NULL|           CENTRO|15685000| SP|0808| 17|97214746|NULL|    NULL|NULL|    NULL|                NULL|NULL|NULL|
|24564303|0001| 03|  1|           GARAGE 89| 04| 20210325| 63|NULL|NULL|  20160408|5611204|5611201,9329801,5...|     RUA|       JOAO VALIANTE|   89|              GALPAO|          ANO BOM|27323210| RJ|5807| 24|33283786|NULL|33283786|NULL|33283786|PATRICIACONTABIL@...|NULL|NULL|
+--------+----+---+---+--------------------+---+---------+---+----+----+----------+-------+--------------------+--------+--------------------+-----+--------------------+-----------------+--------+---+----+---+--------+----+--------+----+--------+--------------------+----+----+
only showing top 20 rows

23/10/20 09:06:12 WARN CSVHeaderChecker: CSV header does not conform to the schema.
 Header: 24564062, 0001, 94, 1, , 02, 20160411, 00, , , 20160411, 0155504, 0159899, CHACARA, ROUXINOL, 0, , SAO BENTO, 13160000, SP, 6175, 19, 38771023, , , , , , ,
 Schema: 24564062, 0001, 94, 1, _c4, 02, 201604116, 00, _c8, _c9, 2016041110, 0155504, 0159899, CHACARA, ROUXINOL, 0, _c16, SAO BENTO, 13160000, SP, 6175, 19, 38771023, _c23, _c24, _c25, _c26, _c27, _c28, _c29
Expected: _c4 but found:
CSV file: file:///home/carlos/projetos/base_cnae/estabelecimentos_9/K3241.K03200Y9.D31014.ESTABELE

In [52]:
estabelecimentos_9.show()

+--------+----+---+---+--------------------+---+--------+---+----+----+--------+-------+--------------------+--------+--------------------+-----+--------------------+-----------------+--------+----+----+----+--------+----+--------+----+--------+--------------------+----+----+
|     _c0| _c1|_c2|_c3|                 _c4|_c5|     _c6|_c7| _c8| _c9|    _c10|   _c11|                _c12|    _c13|                _c14| _c15|                _c16|             _c17|    _c18|_c19|_c20|_c21|    _c22|_c23|    _c24|_c25|    _c26|                _c27|_c28|_c29|
+--------+----+---+---+--------------------+---+--------+---+----+----+--------+-------+--------------------+--------+--------------------+-----+--------------------+-----------------+--------+----+----+----+--------+----+--------+----+--------+--------------------+----+----+
|24564062|0001| 94|  1|                NULL| 02|20160411| 00|NULL|NULL|20160411|0155504|             0159899| CHACARA|            ROUXINOL|    0|                NULL|        SAO BENTO|13160000|  SP|6175|  19|38771023|NULL|    NULL|NULL|    NULL|                NULL|NULL|NULL|
|24564076|0001| 08|  1|             ROBATTO| 02|20160411| 00|NULL|NULL|20160411|9001902|8230001,5813100,8...|     RUA|  DOMINGOS MARREIROS| 1718|                NULL|         UMARIZAL|66060160|  PA|0427|  91|80261595|NULL|    NULL|NULL|    NULL|soniaferro@robatt...|NULL|NULL|
|24564088|0001| 32|  1|         ALMEIDA MEI| 04|20210303| 63|NULL|NULL|20160411|7319002|             4782201|     RUA|           MEN DE SA|   57|                CASA| JARDIM AEROPORTO|76920000|  RO|0017|  69|93299788|NULL|    NULL|NULL|    NULL|ronivaldoopo@hotm...|NULL|NULL|
|24564100|0001| 09|  1|KUMAM INDUSTRIA E...| 08|20201208| 01|NULL|NULL|20160411|4672900|             2593400|     RUA|      RIBEIRAO PRETO|  236|                NULL| ARRAIAL PAULISTA|06780190|  SP|7157|  11|45675288|  11|57023793|  11|45675288|KUMAM.IND@HOTMAIL...|NULL|NULL|
|24564115|0001| 77|  1|   LOJAO DA ECONOMIA| 04|20210422| 63|NULL|NULL|20160411|4781400|     4755503,4789099|     RUA|  ALICE ROSA SANTANA|   17|                CASA|    ARNULFO ORFAO|45280000|  BA|3571|  73|88686808|NULL|    NULL|NULL|    NULL|aamandas.silva@ho...|NULL|NULL|
|24564126|0001| 57|  1|NANCI TAMD TOUCAS...| 04|20210319| 63|NULL|NULL|20160411|1412601|                NULL|TRAVESSA|  JOAO DE SOUZA DIAS|   70|                NULL|        JACUTINGA|26564280|  RJ|1116|  21|73512585|NULL|    NULL|NULL|    NULL|                NULL|NULL|NULL|
|24564204|0001| 13|  1|CRC INSTALACOES E...| 08|20180625| 01|NULL|NULL|20160411|3321000|3314707,4322303,4...|     RUA|               CHINA|  567|                NULL|PARQUE DAS NACOES|13470191|  SP|6131|  19|36014699|NULL|    NULL|NULL|    NULL|  carlosrcjr@msn.com|NULL|NULL|
|14387130|0001| 33|  1|REGISDATA INFORMA...| 08|20160411| 01|NULL|NULL|20110930|4751201|9511800,9001906,3...|     RUA|Rua Professor Rub...| 4135|                NULL|  Jardim Paulista|15700726|  SP|6597|  17|36328224|NULL|    NULL|NULL|    NULL|regisdata@bol.com.br|NULL|NULL|
|24564158|0001| 52|  1|       JM MOTO PECAS| 02|20160411| 00|NULL|NULL|20160411|4541206|             4530705| AVENIDA|      AV PIMENTEIRAS| 1142|                NULL|         VALENTIM|64300000|  PI|1225|  89|99740245|NULL|    NULL|NULL|    NULL|GERENCIALVALENCA@...|NULL|NULL|
|24564173|0001| 09|  1|PC TREINAMENTO E ...| 02|20160318| 00|NULL|NULL|20160318|7319002|                NULL|     RUA|    CORONEL DULCIDIO| 1256|           APT   802|       AGUA VERDE|80250100|  PR|7535|  41|32446917|NULL|    NULL|NULL|    NULL| PC@RODRIGUES.PPG.BR|NULL|NULL|
|24564184|0001| 80|  1|            CONSULTE| 02|20160411| 00|NULL|NULL|20160411|6204000|                NULL|     RUA|        FLAVIO UCHOA| 1699|                NULL|   CAMPOS ELISEOS|14085600|  SP|6969|  16|38774010|  16|91704130|  16|39691223|RENATOJOSE@GMAIL.COM|NULL|NULL|
|24564193|0001| 71|  1|    KUHN INSTALACOES| 08|20181107| 01|NULL|NULL|20160411|4321500|                NULL|     RUA|      ALDO LOCATELLI|  359|                CASA|     SANTO INACIO|93290410|  RS|8651|  51|96066525|NULL|    NULL|NULL|    NULL|vagnerkuhn.k@hotm...|NULL|NULL|
|24564206|0001| 02|  1|PIATTO DI PARMA C...| 02|20160311| 00|NULL|NULL|20160311|5611201|     4721104,5611203|     RUA|   GUILHERME ABRAHAM|   41|           SALA  101|           CENTRO|95670088|  RS|8681|  54|32862741|NULL|    NULL|NULL|    NULL|DIRENO@DIRENO.COM.BR|NULL|NULL|
|24564219|0001| 81|  1|                NULL| 02|20160411| 00|NULL|NULL|20160411|4633801|     4930201,4930202| AVENIDA|            BRASILIA|10000|BOX   29         ...|          LINDOIA|86031770|  PR|7667|  43|96611509|NULL|    NULL|NULL|    NULL|ATACADAOFOLLY7374...|NULL|NULL|
|24564233|0001| 85|  1|                NULL| 08|20180928| 01|NULL|NULL|20160411|5611201|             5620102| AVENIDA|        DOS ANDRADAS|  874|            LOJA  02|           CENTRO|36036000|  MG|4733|  32|32134692|NULL|    NULL|NULL|    NULL|     ADM@MRJF.COM.BR|NULL|NULL|
|24564245|0001| 00|  1|                NULL| 04|20210305| 63|NULL|NULL|20160411|5611201|             8230001|TRAVESSA|       ALEX VALLAURI|   08|                NULL|       ITAIM BIBI|04533020|  SP|7107|  11|31686467|NULL|    NULL|NULL|    NULL|FABIANO@JARDIMAUR...|NULL|NULL|
|24564255|0001| 45|  1|                NULL| 02|20160411| 00|NULL|NULL|20160411|4330404|                NULL|     RUA|URIAS RODRIGUES D...|   75|                NULL|  JARDIM BRASILIA|38401330|  MG|5403|  34|96751835|NULL|    NULL|NULL|    NULL|DAIANE_MARY2012@Y...|NULL|NULL|
|24564266|0001| 25|  1|          MOTO LIVRE| 02|20160409| 00|NULL|NULL|20160409|4541206|     4520002,4543900| AVENIDA|                 V 8|   SN|QUADRA332        ...| CIDADE VERA CRUZ|74937630|  GO|9227|  62|32777702|NULL|    NULL|NULL|    NULL|MOTOLIVRE.BURITI@...|NULL|NULL|
|24564278|0001| 50|  1|                NULL| 02|20160411| 00|NULL|NULL|20160411|6810201|             6810203|     RUA|SEBASTIAO FABIANO...|  210|                NULL|        BELVEDERE|30320690|  MG|4123|  31|33125506|  31|    NULL|NULL|    NULL|GESTAC@GESTAC.COM.BR|NULL|NULL|
|24564292|0001| 53|  1|SERV FESTA DO SER...| 08|20180410| 01|NULL|NULL|20160411|4723700|                NULL|     RUA|FERNAO DIAS PAES ...|1213A|                NULL|           CENTRO|15685000|  SP|0808|  17|97214746|NULL|    NULL|NULL|    NULL|                NULL|NULL|NULL|
+--------+----+---+---+--------------------+---+--------+---+----+----+--------+-------+--------------------+--------+--------------------+-----+--------------------+-----------------+--------+----+----+----+--------+----+--------+----+--------+--------------------+----+----+
only showing top 20 rows

In [58]:
estabelecimentos_9.filter(F.col('_c0') == 34028316).show()

+--------+----+---+---+-------+---+--------+---+----+----+--------+-------+--------------------+----+------------------+----+----+--------+--------+----+----+----+--------+----+----+----+----+--------------------+----+----+
|     _c0| _c1|_c2|_c3|    _c4|_c5|     _c6|_c7| _c8| _c9|    _c10|   _c11|                _c12|_c13|              _c14|_c15|_c16|    _c17|    _c18|_c19|_c20|_c21|    _c22|_c23|_c24|_c25|_c26|                _c27|_c28|_c29|
+--------+----+---+---+-------+---+--------+---+----+----+--------+-------+--------------------+----+------------------+----+----+--------+--------+----+----+----+--------+----+----+----+----+--------------------+----+----+
|24564076|0001| 08|  1|ROBATTO| 02|20160411| 00|NULL|NULL|20160411|9001902|8230001,5813100,8...| RUA|DOMINGOS MARREIROS|1718|NULL|UMARIZAL|66060160|  PA|0427|  91|80261595|NULL|NULL|NULL|NULL|soniaferro@robatt...|NULL|NULL|
+--------+----+---+---+-------+---+--------+---+----+----+--------+-------+--------------------+----+------------------+----+----+--------+--------+----+----+----+--------+----+----+----+----+--------------------+----+----+

In [62]:
estabelecimentos_9.groupBy(F.col('_c0'), F.col('_c1'), F.col('_c2')).count().orderBy(F.col('count').desc()).show()

23/10/20 09:40:36 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
23/10/20 09:40:36 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
23/10/20 09:40:37 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
23/10/20 09:40:37 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
23/10/20 09:40:37 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
23/10/20 09:40:37 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
23/10/20 09:40:37 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
23/10/20 09:40:37 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
23/10/20 09:40:37 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
23/10/20 09:40:37 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
23/10/20 09:40:37 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
23/10/20 09:40:37 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
23/10/20 09:40:37 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
23/10/20 09:40:37 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
23/10/20 09:40:37 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
23/10/20 09:40:37 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.

+--------+----+---+-----+
|     _c0| _c1|_c2|count|
+--------+----+---+-----+
|00000000|0014| 06|    1|
|00000000|0081| 76|    1|
|00000000|0133| 31|    1|
|00000000|0084| 19|    1|
|00000000|0010| 82|    1|
|00000000|0095| 71|    1|
|00000000|0166| 08|    1|
|00000000|0157| 09|    1|
|00000000|0090| 67|    1|
|00000000|0420| 05|    1|
|00000000|0172| 48|    1|
|00000000|0443| 00|    1|
|00000000|0029| 92|    1|
|00000000|0453| 73|    1|
|00000000|0363| 82|    1|
|00000000|0459| 69|    1|
|00000000|0122| 89|    1|
|00000000|0472| 36|    1|
|00000000|0419| 71|    1|
|00000000|0564| 99|    1|
+--------+----+---+-----+
only showing top 20 rows

In [67]:
estabelecimentos_9.orderBy('_c6').show()

+--------+----+---+---+--------------------+---+---+---+----+----+--------+-------+--------------------+--------+--------------------+----+--------------------+--------------------+--------+----+----+----+--------+----+--------+----+--------+--------------------+----+----+
|     _c0| _c1|_c2|_c3|                 _c4|_c5|_c6|_c7| _c8| _c9|    _c10|   _c11|                _c12|    _c13|                _c14|_c15|                _c16|                _c17|    _c18|_c19|_c20|_c21|    _c22|_c23|    _c24|_c25|    _c26|                _c27|_c28|_c29|
+--------+----+---+---+--------------------+---+---+---+----+----+--------+-------+--------------------+--------+--------------------+----+--------------------+--------------------+--------+----+----+----+--------+----+--------+----+--------+--------------------+----+----+
|09019610|0001| 01|  1|       ACADEMIA JUMP| 02|  0| 00|NULL|NULL|20070823|9313100|             8650004|     RUA|        ALFREDO POPS| 152|                NULL|        JARDIM ICATU|18110275|  SP|7243|  15|32431031|NULL|    NULL|  15|32431031|NORIVAL@E31MARCO....|NULL|NULL|
|11085761|0001| 00|  1|                NULL| 02|  0| 00|NULL|NULL|20080911|9499500|                NULL|     RUA|ESTEVAO ALVES CORREA|  SN|              TERREO|                ALTO|79200000|  MS|9021|  67|32411780|NULL|    NULL|  67|32411780|                NULL|NULL|NULL|
|04130531|0005| 83|  2|         ROSA MASTER| 02|  0| 00|NULL|NULL|20050510|9603304|7729203,9603301,9...|     RUA|PREF DR JOSE FRED...| 249|                NULL|              CENTRO|55890000|  PE|2313|  81|36313587|NULL|    NULL|  81|36314443|ALMIR.BENTO@ICOON...|NULL|NULL|
|11237497|0001| 82|  1|                NULL| 02|  0| 00|NULL|NULL|20090828|8121400|7820500,5620101,8...|     RUA|           GAMA ROSA| 104|EDIF  LUCIAN     ...|              CENTRO|29015100|  ES|5705|  27|32338657|  27|32338657|  27|32338657|volcati@volcatico...|NULL|NULL|
|03476811|0116| 09|  2|                NULL| 02|  0| 00|NULL|NULL|20030908|8599604|     4721102,7490104|     RUA|     TEODORO SAMPAIO| 599|      605        ...|           PINHEIROS|05405050|  SP|7107|  11|38868087|  11|38868000|  11|38868017|cintia.guerra@car...|NULL|NULL|
|11272232|0001| 15|  1|FUNDO MUNICIPAL D...| 02|  0| 00|NULL|NULL|19950914|8630502|             8630599|     RUA|       FREI LIBERATO| 249|              PREDIO|              CENTRO|89818000|  SC|5589|  49|33270066|  49|33270061|  49|33270066|contabilidade@nov...|NULL|NULL|
|07397823|0001| 41|  1|              ABETUM| 02|  0| 00|NULL|NULL|20050504|4781400|             4751201|     RUA|T 46 ESQ.  C/  AV...| 386|                NULL|        SETOR  BUENO|74210190|  GO|9373|  62| 2854242|NULL|    NULL|NULL|    NULL|                NULL|NULL|NULL|
|11741026|0001| 07|  1|    BRANDAO PESCADOS| 02|  0| 00|NULL|NULL|20100323|4634603|                NULL|TRAVESSA|              PARANA|  59|            SALA  01|     AEROPORTO VELHO|68020100|  PA|0535|  93|91284392|NULL|    NULL|NULL|    NULL|NRBRANDAO@2022GMA...|NULL|NULL|
|06885879|0001| 82|  1|                NULL| 02|  0| 00|NULL|NULL|20040721|4711302|4617600,4723700,4...| AVENIDA|  JULIO DE CASTILHOS| 512|           SUBSL 001|              CENTRO|95330000|  RS|8959|  54|34416043|NULL|    NULL|NULL|    NULL|COMPRAS.ZECHIN@GM...|NULL|NULL|
|75717355|0010| 96|  2|   USACUCAR - RONDON| 02|  0| 00|NULL|NULL|20100630|1071600|1931400,5091202,0...| RODOVIA|        PR 492 KM 47| S/N|      USACUCAR RO...|          ZONA RURAL|87800000|  PR|7829|  44|32181954|  44|32181889|  44|32181918|MARIOSERGIO@USACU...|NULL|NULL|
|07397747|0001| 74|  1|                NULL| 02|  0| 00|NULL|NULL|20050517|4530701|                NULL| AVENIDA|  DOUTOR JOSE HIGINO| 857|                NULL|       VILA ORATORIO|03189040|  SP|7107|NULL|    NULL|NULL|    NULL|NULL|    NULL|                NULL|NULL|NULL|
|75717355|0012| 58|  2| USACUCAR - SAO TOME| 02|  0| 00|NULL|NULL|20100630|1931400|             0113000| RODOVIA|PR 82 KM 14 - TRE...| S/N|      GLEBA DOS S...|          ZONA RURAL|87220000|  PR|7897|  44|32181954|  44|32181889|  44|32181918|MARIOSERGIO@USACU...|NULL|NULL|
|11022597|0015| 97|  2|PRONTO S.CARDIOLO...| 02|  0| 00|NULL|NULL|20020420|8610101|                NULL|     RUA|        DOS PALMARES| S/N|                NULL|         SANTO AMARO|50100060|  PE|2531|  81|34212878|NULL|    NULL|  81|34212129|                NULL|NULL|NULL|
|07398021|0001| 56|  1|                NULL| 02|  0| 00|NULL|NULL|20050524|4755502|                NULL| AVENIDA|    SETE DE SETEMBRO|2567|                NULL|              CENTRO|19210000|  SP|7179|  18|32891393|NULL|    NULL|  18|32891393|                NULL|NULL|NULL|
|10633615|0001| 09|  1|                NULL| 02|  0| 00|NULL|NULL|20090210|4120400|2330301,2790202,3...|     RUA|       TENENTE CRAVO| 633|                NULL|   ALTO DA BOA VISTA|63900002|  CE|1527|  88|34121840|NULL|    NULL|  88|34121840|prescon.ce@uol.co...|NULL|NULL|
|07397830|0001| 43|  1|BOLSA DE RELOGIO ...| 02|  0| 00|NULL|NULL|20050517|9529103|     9529106,9529199| AVENIDA|   CASTELO DE CASTRO| 997|LOJA  23         ...|          JANGURUSSU|60866681|  CE|1389|  85|31108281|NULL|    NULL|NULL|    NULL|PLENITUDE.CONTABI...|NULL|NULL|
|03509978|0015| 77|  2|            FACCHINI| 02|  0| 00|NULL|NULL|20040929|2930101|     4520001,4520007| AVENIDA|    JOSE MARAO FILHO|8754|             TERREO;|POLO COMERCIAL E ...|15502045|  SP|7245|  17|34059000|NULL|    NULL|  17|34059200|FACCHINI@FACCHINI...|NULL|NULL|
|07398031|0001| 91|  1|     A&G CONSULTORIA| 02|  0| 00|NULL|NULL|20050519|7020400|             6204000|     RUA|        DIAS DA CRUZ| 445|           SALA  204|               MEIER|20720010|  RJ|6001|  21|35913400|NULL|    NULL|  21|35913400|fransciscoaraujo@...|NULL|NULL|
|06886628|0001| 12|  1|MATERIAIS PARA CO...| 02|  0| 00|NULL|NULL|20040709|4744099|4744001,4743100,4...|     RUA|MINELVINO LIMA DE...|  SN|QUADRA: 18; LOTE:...|              CENTRO|77798000|  TO|0189|  63|34761150|NULL|    NULL|NULL|    NULL|MONTECARMELOPALME...|NULL|NULL|
|07398042|0001| 71|  1|         SAUDPHARMA.| 02|  0| 00|NULL|NULL|20050516|4771701|4721104,4763601,4...| AVENIDA|         DAS ACACIAS| 617|                NULL|JARDIM DAS ALTERO...|32673325|  MG|4133|  31|35115213|NULL|    NULL|  31|33984849|PIDROGARIALTDA@GM...|NULL|NULL|
+--------+----+---+---+--------------------+---+---+---+----+----+--------+-------+--------------------+--------+--------------------+----+--------------------+--------------------+--------+----+----+----+--------+----+--------+----+--------+--------------------+----+----+
only showing top 20 rows

In [ ]:
+--------+----+---+---+--------------------+---+--------+---+----+----+--------+-------+--------------------+--------+--------------------+-----+--------------------+-----------------+--------+----+----+----+--------+----+--------+----+--------+--------------------+----+----+
|     _c0| _c1|_c2|_c3|                 _c4|_c5|     _c6|_c7| _c8| _c9|    _c10|   _c11|                _c12|    _c13|                _c14| _c15|                _c16|             _c17|    _c18|_c19|_c20|_c21|    _c22|_c23|    _c24|_c25|    _c26|                _c27|_c28|_c29|
+--------+----+---+---+--------------------+---+--------+---+----+----+--------+-------+--------------------+--------+--------------------+-----+--------------------+-----------------+--------+----+----+----+--------+----+--------+----+--------+--------------------+----+----+
|24564062|0001| 94|  1|                NULL| 02|20160411| 00|NULL|NULL|20160411|0155504|             0159899| CHACARA|            ROUXINOL|    0|                NULL|        SAO BENTO|13160000|  SP|6175|  19|38771023|NULL|    NULL|NULL|    NULL|                NULL|NULL|NULL|
|24564076|0001| 08|  1|             ROBATTO| 02|20160411| 00|NULL|NULL|20160411|9001902|8230001,5813100,8...|     RUA|  DOMINGOS MARREIROS| 1718|                NULL|         UMARIZAL|66060160|  PA|0427|  91|80261595|NULL|    NULL|NULL|    NULL|soniaferro@robatt...|NULL|NULL|
|24564088|0001| 32|  1|         ALMEIDA MEI| 04|20210303| 63|NULL|NULL|20160411|7319002|             4782201|     RUA|           MEN DE SA|   57|                CASA| JARDIM AEROPORTO|76920000|  RO|0017|  69|93299788|NULL|    NULL|NULL|    NULL|ronivaldoopo@hotm...|NULL|NULL|
|24564100|0001| 09|  1|KUMAM INDUSTRIA E...| 08|20201208| 01|NULL|NULL|20160411|4672900|             2593400|     RUA|      RIBEIRAO PRETO|  236|                NULL| ARRAIAL PAULISTA|06780190|  SP|7157|  11|45675288|  11|57023793|  11|45675288|KUMAM.IND@HOTMAIL...|NULL|NULL|
|24564115|0001| 77|  1|   LOJAO DA ECONOMIA| 04|20210422| 63|NULL|NULL|20160411|4781400|     4755503,4789099|     RUA|  ALICE ROSA SANTANA|   17|                CASA|    ARNULFO ORFAO|45280000|  BA|3571|  73|88686808|NULL|    NULL|NULL|    NULL|aamandas.silva@ho...|NULL|NULL|
|24564126|0001| 57|  1|NANCI TAMD TOUCAS...| 04|20210319| 63|NULL|NULL|20160411|1412601|                NULL|TRAVESSA|  JOAO DE SOUZA DIAS|   70|                NULL|        JACUTINGA|26564280|  RJ|1116|  21|73512585|NULL|    NULL|NULL|    NULL|                NULL|NULL|NULL|
|24564204|0001| 13|  1|CRC INSTALACOES E...| 08|20180625| 01|NULL|NULL|20160411|3321000|3314707,4322303,4...|     RUA|               CHINA|  567|                NULL|PARQUE DAS NACOES|13470191|  SP|6131|  19|36014699|NULL|    NULL|NULL|    NULL|  carlosrcjr@msn.com|NULL|NULL|
|14387130|0001| 33|  1|REGISDATA INFORMA...| 08|20160411| 01|NULL|NULL|20110930|4751201|9511800,9001906,3...|     RUA|Rua Professor Rub...| 4135|                NULL|  Jardim Paulista|15700726|  SP|6597|  17|36328224|NULL|    NULL|NULL|    NULL|regisdata@bol.com.br|NULL|NULL|
|24564158|0001| 52|  1|       JM MOTO PECAS| 02|20160411| 00|NULL|NULL|20160411|4541206|             4530705| AVENIDA|      AV PIMENTEIRAS| 1142|                NULL|         VALENTIM|64300000|  PI|1225|  89|99740245|NULL|    NULL|NULL|    NULL|GERENCIALVALENCA@...|NULL|NULL|
|24564173|0001| 09|  1|PC TREINAMENTO E ...| 02|20160318| 00|NULL|NULL|20160318|7319002|                NULL|     RUA|    CORONEL DULCIDIO| 1256|           APT   802|       AGUA VERDE|80250100|  PR|7535|  41|32446917|NULL|    NULL|NULL|    NULL| PC@RODRIGUES.PPG.BR|NULL|NULL|
|24564184|0001| 80|  1|            CONSULTE| 02|20160411| 00|NULL|NULL|20160411|6204000|                NULL|     RUA|        FLAVIO UCHOA| 1699|                NULL|   CAMPOS ELISEOS|14085600|  SP|6969|  16|38774010|  16|91704130|  16|39691223|RENATOJOSE@GMAIL.COM|NULL|NULL|
|24564193|0001| 71|  1|    KUHN INSTALACOES| 08|20181107| 01|NULL|NULL|20160411|4321500|                NULL|     RUA|      ALDO LOCATELLI|  359|                CASA|     SANTO INACIO|93290410|  RS|8651|  51|96066525|NULL|    NULL|NULL|    NULL|vagnerkuhn.k@hotm...|NULL|NULL|
|24564206|0001| 02|  1|PIATTO DI PARMA C...| 02|20160311| 00|NULL|NULL|20160311|5611201|     4721104,5611203|     RUA|   GUILHERME ABRAHAM|   41|           SALA  101|           CENTRO|95670088|  RS|8681|  54|32862741|NULL|    NULL|NULL|    NULL|DIRENO@DIRENO.COM.BR|NULL|NULL|
|24564219|0001| 81|  1|                NULL| 02|20160411| 00|NULL|NULL|20160411|4633801|     4930201,4930202| AVENIDA|            BRASILIA|10000|BOX   29         ...|          LINDOIA|86031770|  PR|7667|  43|96611509|NULL|    NULL|NULL|    NULL|ATACADAOFOLLY7374...|NULL|NULL|
|24564233|0001| 85|  1|                NULL| 08|20180928| 01|NULL|NULL|20160411|5611201|             5620102| AVENIDA|        DOS ANDRADAS|  874|            LOJA  02|           CENTRO|36036000|  MG|4733|  32|32134692|NULL|    NULL|NULL|    NULL|     ADM@MRJF.COM.BR|NULL|NULL|
|24564245|0001| 00|  1|                NULL| 04|20210305| 63|NULL|NULL|20160411|5611201|             8230001|TRAVESSA|       ALEX VALLAURI|   08|                NULL|       ITAIM BIBI|04533020|  SP|7107|  11|31686467|NULL|    NULL|NULL|    NULL|FABIANO@JARDIMAUR...|NULL|NULL|
|24564255|0001| 45|  1|                NULL| 02|20160411| 00|NULL|NULL|20160411|4330404|                NULL|     RUA|URIAS RODRIGUES D...|   75|                NULL|  JARDIM BRASILIA|38401330|  MG|5403|  34|96751835|NULL|    NULL|NULL|    NULL|DAIANE_MARY2012@Y...|NULL|NULL|
|24564266|0001| 25|  1|          MOTO LIVRE| 02|20160409| 00|NULL|NULL|20160409|4541206|     4520002,4543900| AVENIDA|                 V 8|   SN|QUADRA332        ...| CIDADE VERA CRUZ|74937630|  GO|9227|  62|32777702|NULL|    NULL|NULL|    NULL|MOTOLIVRE.BURITI@...|NULL|NULL|
|24564278|0001| 50|  1|                NULL| 02|20160411| 00|NULL|NULL|20160411|6810201|             6810203|     RUA|SEBASTIAO FABIANO...|  210|                NULL|        BELVEDERE|30320690|  MG|4123|  31|33125506|  31|    NULL|NULL|    NULL|GESTAC@GESTAC.COM.BR|NULL|NULL|
|24564292|0001| 53|  1|SERV FESTA DO SER...| 08|20180410| 01|NULL|NULL|20160411|4723700|                NULL|     RUA|FERNAO DIAS PAES ...|1213A|                NULL|           CENTRO|15685000|  SP|0808|  17|97214746|NULL|    NULL|NULL|    NULL|                NULL|NULL|NULL|
+--------+----+---+---+--------------------+---+--------+---+----+----+--------+-------+--------------------+--------+--------------------+-----+--------------------+-----------------+--------+----+----+----+--------+----+--------+----+--------+--------------------+----+----+

In [99]:
e = estabelecimentos_9.filter(F.col('_c6') != '0')

In [100]:
e_ = e.select("*",F.to_date(F.col("_c6"),"yyyyMMdd").alias("date")).orderBy(F.col('date').asc()).limit(1000)

In [102]:
e_.toPandas()

,_c0,_c1,_c2,_c3,_c4,_c5,_c6,_c7,_c8,_c9,...,_c21,_c22,_c23,_c24,_c25,_c26,_c27,_c28,_c29,date
0,11461683,0001,09,1,None,02,16010101,00,None,None,...,19,38730286,19,38730951,19,38730951,None,None,None,1601-01-01
1,05487690,0001,79,1,CARTORIO JANIR SILVERIO,02,19010101,00,None,None,...,None,None,None,None,None,None,None,None,None,1901-01-01
2,03961724,0001,90,1,None,02,19010101,00,None,386,...,21,35341315,None,None,021,2626348,RIODEJANEIRO.AMMIN@ESTERI.IT,None,None,1901-01-01
3,89522064,0088,17,2,FORO DA COMARCA DE PASSO FUNDO,02,19010101,00,None,None,...,54,33115377,None,None,054,3114895,FRPASFUNDOJZDIR@TJ.RS.GOV.BR,None,None,1901-01-01
4,04041565,0001,78,1,CONSULADO GERAL DA ALEMANHA,02,19010101,00,None,023,...,81,34635350,None,None,81,34654084,info.recife@alemanha.org.br,None,None,1901-01-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,76495886,0006,68,2,None,08,19751103,01,None,None,...,None,None,None,None,None,None,None,None,None,1975-11-03
996,11119500,0001,63,1,MERCEARIA DO POVO,01,19751104,34,None,None,...,None,None,None,None,None,None,None,None,None,1975-11-04
997,12361986,0001,04,1,None,08,19751106,09,None,None,...,None,None,None,None,None,None,None,None,None,1975-11-06
998,13959507,0001,19,1,SAMAL,08,19751106,01,None,None,...,None,None,None,None,None,None,None,None,None,1975-11-06
999,34877547,0001,91,1,None,02,19751112,00,None,None,...,32,32171228,None,None,None,None,FERNANDO@PIRESMENDONCA.COM.BR,None,None,1975-11-12

In [95]:
e = estabelecimentos_9.select("*",F.to_date(F.col("_c6"),"yyyyMMdd").alias("date")).orderBy(F.col('date').asc()).limit(1000)

In [ ]:
+--------+----+---+---+--------------------+---+--------+---+----+----+--------+-------+--------------------+-------+--------------------+----+-----------------+--------------------+--------+----+----+----+--------+----+----+----+----+--------------------+----+----+----------+
|     _c0| _c1|_c2|_c3|                 _c4|_c5|     _c6|_c7| _c8| _c9|    _c10|   _c11|                _c12|   _c13|                _c14|_c15|             _c16|                _c17|    _c18|_c19|_c20|_c21|    _c22|_c23|_c24|_c25|_c26|                _c27|_c28|_c29|      date|
+--------+----+---+---+--------------------+---+--------+---+----+----+--------+-------+--------------------+-------+--------------------+----+-----------------+--------------------+--------+----+----+----+--------+----+----+----+----+--------------------+----+----+----------+
|47814394|0001| 85|  1|  LBB REPRESENTACOES| 08|20231014| 01|NULL|NULL|20220901|7319002|     5612100,8230001|    RUA|PROFESSOR ALGACYR...|1925|             NULL|   CIDADE INDUSTRIAL|81310020|  PR|7535|  41|91551025|NULL|NULL|NULL|NULL|LUANABUERGER@HOTM...|NULL|NULL|2023-10-14|
|52427953|0001| 34|  1|NORTE ENERGIA SOL...| 08|20231014| 01|NULL|NULL|20231004|4321500|                NULL|10A RUA|   MANOELO DE GUSMAO| 123|           LOJA 1|           O CORIGAO|68632000|  PA|0623|  91|93674171|NULL|NULL|NULL|NULL|FATURAMENTOENERGI...|NULL|NULL|2023-10-14|
|43574407|0001| 35|  1|        SERVOPA MANU| 08|20231014| 01|NULL|NULL|20210920|4530704|                NULL|    RUA|        JOSE GELBCKE| 190|             NULL|             UBERABA|81590380|  PR|7535|  41|99732877|NULL|NULL|NULL|NULL|SERVOPAMANU@OUTLO...|NULL|NULL|2023-10-14|
|52523937|0001| 45|  1|             DJCONNI| 02|20231014| 00|NULL|NULL|20231014|9001906|             9700500|    RUA|            TAMANDUA|  54|           COND 3|                PIPA|59178000|  RN|1881|  21|75243086|NULL|NULL|NULL|NULL|CONSTANZA.MELICA@...|NULL|NULL|2023-10-14|
|29426187|0001| 71|  1|            JMS GOOD| 08|20231014| 01|NULL|NULL|20180112|4399103|4744003,4755503,4...|    RUA|    JOSE MARIA CLARO| 640|      FUNDOS 44 B|   JARDIM DO CASTELO|08503200|  SP|6415|  11|42630680|NULL|NULL|NULL|NULL|jose.m.santos82@g...|NULL|NULL|2023-10-14|
|52468348|0001| 01|  1|                NULL| 08|20231014| 01|NULL|NULL|20231009|4781400|                NULL|    RUA|  BOM JESUS DO MONTE| 166|             NULL|      JARDIM MARILIA|03579000|  SP|7107|  11|99999999|NULL|NULL|NULL|NULL|CONTADOR@JHCONTAB...|NULL|NULL|2023-10-14|
|42585823|0001| 76|  1|       PORAO LANCHES| 08|20231014| 01|NULL|NULL|20210705|5611203|             5611204|    RUA|           JOSE ZAGO| 450|             NULL|          SAO MANOEL|95255000|  RS|6013|  54|84033992|NULL|NULL|NULL|NULL|ANGELA55355@GMAIL...|NULL|NULL|2023-10-14|
|52049030|0001| 96|  1|                NULL| 08|20231014| 01|NULL|NULL|20230901|5912099|5819100,5813100,4...|    RUA|        MIGUEL COUTO|   0|LOTE 15;QUADRA 29|          SARACURUNA|25212435|  RJ|5833|  21|       0|NULL|NULL|NULL|NULL|ARAUJOANTONNY02@G...|NULL|NULL|2023-10-14|
|35989336|0001| 03|  1|                NULL| 08|20231014| 01|NULL|NULL|20200114|8219999|                NULL|    RUA|VIRGILIO DA SILVA...| 442|          SALA 03|     SANTA TEREZINHA|13411083|  SP|6875|  19|33758565|NULL|NULL|NULL|NULL|IRIS@PRGARCIA.COM.BR|NULL|NULL|2023-10-14|
|52523745|0001| 39|  1|     ALM INSTALADORA| 02|20231014| 00|NULL|NULL|20231014|4322302|                NULL|10A RUA|                902D| 413|             NULL|      ALTO SAO BENTO|88220000|  SC|8163|  47|96358807|NULL|NULL|NULL|NULL|XAANDE.LOPES20@GM...|NULL|NULL|2023-10-14|
|42732732|0001| 16|  1|                NULL| 08|20231014| 01|NULL|NULL|20210715|9602501|                NULL|    RUA|         FREI CANECA| 878|             NULL|JARDIM CAMPOS ELI...|13060023|  SP|6291|  19|71052081|NULL|NULL|NULL|NULL|JULIANAALVES.90.J...|NULL|NULL|2023-10-14|
|52523831|0001| 41|  1|    RESTAURANTE TAUA| 02|20231014| 00|NULL|NULL|20231014|5611201|                NULL|AVENIDA|        PIRES DO RIO|1354|             NULL|JARDIM SAO SEBASTIAO|08041000|  SP|7107|  11|67176767|NULL|NULL|NULL|NULL|REENZOEISIS@GMAIL...|NULL|NULL|2023-10-14|
|34394349|0001| 77|  1|HAIN VIAGEM E TUR...| 08|20231014| 01|NULL|NULL|20190801|7911200|                NULL|AVENIDA|SEVERINO PEREIRA ...|1930| FUNDOS LT25 Q165|              CABUCU|26291401|  RJ|5869|  21|26677809|NULL|NULL|NULL|NULL|IRISYUMIRI17@GMAI...|NULL|NULL|2023-10-14|
|52523840|0001| 32|  1|               SILAS| 02|20231014| 00|NULL|NULL|20231014|4930201|                NULL|    RUA|DEOCLECIO SOARES ...| 153|             NULL|      ARMANDO MENDES|69089235|  AM|0255|  92|88471725|NULL|NULL|NULL|NULL|MIRANDALOYANA@GMA...|NULL|NULL|2023-10-14|
|31636336|0001| 79|  1|       FINANCEIRA MT| 08|20231014| 01|NULL|NULL|20180928|7319002|                NULL|    RUA|MARQUES DE MONTE ...|1166|             NULL|            PAULISTA|13401070|  SP|6875|  19|34325568|NULL|NULL|NULL|NULL|GEREVINI2019@GMAI...|NULL|NULL|2023-10-14|
|51932006|0001| 38|  1|MILENIO SERVICOS ...| 08|20231014| 01|NULL|NULL|20230824|5320202|4789099,5620102,7...|    RUA|     EMERSON MARTINS| 100|             NULL|CONJUNTO HABITACI...|19100610|  SP|6929|  18|96384240|NULL|NULL|NULL|NULL|EMPREENDEDORMOTIV...|NULL|NULL|2023-10-14|
|48475459|0001| 78|  1|       HRTRANSPORTES| 08|20231014| 01|NULL|NULL|20221101|4923001|     4929902,4929901|    RUA| RUA SIQUEIRA CAMPOS| 308|             CONJ|              CENTRO|55835000|  PE|2387|  81|73133267|NULL|NULL|NULL|NULL|HELTINHO.NET@GMAI...|NULL|NULL|2023-10-14|
|52523851|0001| 12|  1|       POT CAKELICIA| 02|20231014| 00|NULL|NULL|20231014|5620104|     4723700,1091102|    RUA|    CAROLINA MACHADO|1740|          APT 401|       BENTO RIBEIRO|21555290|  RJ|6001|  21|81067667|NULL|NULL|NULL|NULL|ANFINHO@OUTLOOK.C...|NULL|NULL|2023-10-14|
|44011554|0001| 60|  1|       NATALIA SMART| 08|20231014| 01|NULL|NULL|20211025|4713002|                NULL|AVENIDA|          SOUZA MELO|1084|          CONJ 16|             SARANDI|91120600|  RS|8801|  51|94113076|NULL|NULL|NULL|NULL|NATHALIAMEDIANEIR...|NULL|NULL|2023-10-14|
|52523755|0001| 74|  1|        MINIFESTADAK| 02|20231014| 00|NULL|NULL|20231014|7721700|     7729202,7723300|12A RUA|RUA PEDRO FERREIR...|  15|             NULL|         VARZEA NOVA|58304500|  PB|2175|  83|87159549|NULL|NULL|NULL|NULL|KAROL-PAZ-AMOR@HO...|NULL|NULL|2023-10-14|
+--------+----+---+---+--------------------+---+--------+---+----+----+--------+-------+--------------------+-------+--------------------+----+-----------------+--------------------+--------+----+----+----+--------+----+----+----+----+--------------------+----+----+----------+

In [ ]:
+--------+----+---+---+--------------------+---+---+---+----+----+--------+-------+--------------------+--------+--------------------+----+--------------------+-----------------+--------+----+----+----+--------+----+--------+----+--------+--------------------+----+----+----+
|     _c0| _c1|_c2|_c3|                 _c4|_c5|_c6|_c7| _c8| _c9|    _c10|   _c11|                _c12|    _c13|                _c14|_c15|                _c16|             _c17|    _c18|_c19|_c20|_c21|    _c22|_c23|    _c24|_c25|    _c26|                _c27|_c28|_c29|date|
+--------+----+---+---+--------------------+---+---+---+----+----+--------+-------+--------------------+--------+--------------------+----+--------------------+-----------------+--------+----+----+----+--------+----+--------+----+--------+--------------------+----+----+----+
|09019610|0001| 01|  1|       ACADEMIA JUMP| 02|  0| 00|NULL|NULL|20070823|9313100|             8650004|     RUA|        ALFREDO POPS| 152|                NULL|     JARDIM ICATU|18110275|  SP|7243|  15|32431031|NULL|    NULL|  15|32431031|NORIVAL@E31MARCO....|NULL|NULL|NULL|
|06885879|0001| 82|  1|                NULL| 02|  0| 00|NULL|NULL|20040721|4711302|4617600,4723700,4...| AVENIDA|  JULIO DE CASTILHOS| 512|           SUBSL 001|           CENTRO|95330000|  RS|8959|  54|34416043|NULL|    NULL|NULL|    NULL|COMPRAS.ZECHIN@GM...|NULL|NULL|NULL|
|11085761|0001| 00|  1|                NULL| 02|  0| 00|NULL|NULL|20080911|9499500|                NULL|     RUA|ESTEVAO ALVES CORREA|  SN|              TERREO|             ALTO|79200000|  MS|9021|  67|32411780|NULL|    NULL|  67|32411780|                NULL|NULL|NULL|NULL|
|06886628|0001| 12|  1|MATERIAIS PARA CO...| 02|  0| 00|NULL|NULL|20040709|4744099|4744001,4743100,4...|     RUA|MINELVINO LIMA DE...|  SN|QUADRA: 18; LOTE:...|           CENTRO|77798000|  TO|0189|  63|34761150|NULL|    NULL|NULL|    NULL|MONTECARMELOPALME...|NULL|NULL|NULL|
|03476811|0116| 09|  2|                NULL| 02|  0| 00|NULL|NULL|20030908|8599604|     4721102,7490104|     RUA|     TEODORO SAMPAIO| 599|      605        ...|        PINHEIROS|05405050|  SP|7107|  11|38868087|  11|38868000|  11|38868017|cintia.guerra@car...|NULL|NULL|NULL|
|06885895|0001| 75|  1|RECOBRANCA ASSESS...| 02|  0| 00|NULL|NULL|20040730|8291100|                NULL| AVENIDA|      GETULIO VARGAS| 816|EDIF  FERNANDA   ...|           CENTRO|89120000|  SC|8357|  47|33824400|NULL|    NULL|  47|33821318|RECOBRANCA@RECOBR...|NULL|NULL|NULL|
|11237497|0001| 82|  1|                NULL| 02|  0| 00|NULL|NULL|20090828|8121400|7820500,5620101,8...|     RUA|           GAMA ROSA| 104|EDIF  LUCIAN     ...|           CENTRO|29015100|  ES|5705|  27|32338657|  27|32338657|  27|32338657|volcati@volcatico...|NULL|NULL|NULL|
|06885837|0001| 41|  1|   ITANI CONSULTORIA| 02|  0| 00|NULL|NULL|20040506|7020400|6201501,8599604,8...|     RUA|   MANOEL DA NOBREGA| 261|           APT   104|          PARAISO|04001081|  SP|7107|  11|39610000|NULL|    NULL|  11|39610000| ELZAITANI@GMAIL.COM|NULL|NULL|NULL|
|04130531|0005| 83|  2|         ROSA MASTER| 02|  0| 00|NULL|NULL|20050510|9603304|7729203,9603301,9...|     RUA|PREF DR JOSE FRED...| 249|                NULL|           CENTRO|55890000|  PE|2313|  81|36313587|NULL|    NULL|  81|36314443|ALMIR.BENTO@ICOON...|NULL|NULL|NULL|
|06885980|0001| 33|  1|                NULL| 02|  0| 00|NULL|NULL|20040707|4742300|                NULL|     RUA|     GODOFREDO VIANA|1159|                NULL|           CENTRO|65901480|  MA|0803|NULL|    NULL|NULL|    NULL|NULL|    NULL|                NULL|NULL|NULL|NULL|
|11272232|0001| 15|  1|FUNDO MUNICIPAL D...| 02|  0| 00|NULL|NULL|19950914|8630502|             8630599|     RUA|       FREI LIBERATO| 249|              PREDIO|           CENTRO|89818000|  SC|5589|  49|33270066|  49|33270061|  49|33270066|contabilidade@nov...|NULL|NULL|NULL|
|06885157|0001| 28|  1|                NULL| 02|  0| 00|NULL|NULL|20040714|4781400|                NULL|     RUA|         FREI CANECA| 569|    : SUC 338 A 341;|       CONSOLACAO|01307001|  SP|7107|  11|50525355|NULL|    NULL|  11|50525355|   NMALKI@UOL.COM.BR|NULL|NULL|NULL|
|11022597|0015| 97|  2|PRONTO S.CARDIOLO...| 02|  0| 00|NULL|NULL|20020420|8610101|                NULL|     RUA|        DOS PALMARES| S/N|                NULL|      SANTO AMARO|50100060|  PE|2531|  81|34212878|NULL|    NULL|  81|34212129|                NULL|NULL|NULL|NULL|
|04719825|0001| 11|  1|KOMURA & MIRANDA ...| 02|  0| 00|NULL|NULL|20011002|6920601|                NULL|     RUA|             NAVAJAS| 257|                NULL|           CENTRO|08710250|  SP|6713|  11|47991235|NULL|    NULL|  11|47991235|     MIRD@UOL.COM.BR|NULL|NULL|NULL|
|11741026|0001| 07|  1|    BRANDAO PESCADOS| 02|  0| 00|NULL|NULL|20100323|4634603|                NULL|TRAVESSA|              PARANA|  59|            SALA  01|  AEROPORTO VELHO|68020100|  PA|0535|  93|91284392|NULL|    NULL|NULL|    NULL|NRBRANDAO@2022GMA...|NULL|NULL|NULL|
|06886158|0001| 97|  1|                NULL| 02|  0| 00|NULL|NULL|20040705|4930202|                NULL|     RUA|       ANTONIO MANIA| 123|                NULL|    JARDIM ITAPUA|13225820|  SP|7233|  11|45957263|NULL|    NULL|NULL|    NULL|silmarinelli@gmai...|NULL|NULL|NULL|
|10633615|0001| 09|  1|                NULL| 02|  0| 00|NULL|NULL|20090210|4120400|2330301,2790202,3...|     RUA|       TENENTE CRAVO| 633|                NULL|ALTO DA BOA VISTA|63900002|  CE|1527|  88|34121840|NULL|    NULL|  88|34121840|prescon.ce@uol.co...|NULL|NULL|NULL|
|06885072|0001| 40|  1|                NULL| 02|  0| 00|NULL|NULL|20040730|8630503|             8630502|     RUA|    GENERAL GLICERIO| 889|                NULL|           CENTRO|15900045|  SP|7175|  16|32526629|NULL|    NULL|NULL|    NULL|FONSECA@FONSECACO...|NULL|NULL|NULL|
|75717355|0010| 96|  2|   USACUCAR - RONDON| 02|  0| 00|NULL|NULL|20100630|1071600|1931400,5091202,0...| RODOVIA|        PR 492 KM 47| S/N|      USACUCAR RO...|       ZONA RURAL|87800000|  PR|7829|  44|32181954|  44|32181889|  44|32181918|MARIOSERGIO@USACU...|NULL|NULL|NULL|
|06886190|0001| 72|  1|                NULL| 02|  0| 00|NULL|NULL|20040707|7490103|                NULL|     RUA|   VISCONDE DE MAUA,| 288|                NULL|   VILA MUNICIPAL|13201260|  SP|6619|  11|72939000|NULL|    NULL|NULL|    NULL|   TNNDVET@GMAIL.COM|NULL|NULL|NULL|
+--------+----+---+---+--------------------+---+---+---+----+----+--------+-------+--------------------+--------+--------------------+----+--------------------+-----------------+--------+----+----+----+--------+----+--------+----+--------+--------------------+----+----+----+

In [ ]:
+--------+----+---+---+--------------------+---+--------+---+----+----+--------+-------+-------+-------+--------------------+----+--------------------+---------------+--------+----+----+----+--------+----+--------+----+--------+--------------------+----+----+----------+
|     _c0| _c1|_c2|_c3|                 _c4|_c5|     _c6|_c7| _c8| _c9|    _c10|   _c11|   _c12|   _c13|                _c14|_c15|                _c16|           _c17|    _c18|_c19|_c20|_c21|    _c22|_c23|    _c24|_c25|    _c26|                _c27|_c28|_c29|      date|
+--------+----+---+---+--------------------+---+--------+---+----+----+--------+-------+-------+-------+--------------------+----+--------------------+---------------+--------+----+----+----+--------+----+--------+----+--------+--------------------+----+----+----------+
|11461683|0001| 09|  1|                NULL| 02|16010101| 00|NULL|NULL|16010101|0133402|0119906|ESTRADA|TAQUARA BRANCA KM...| 1-F|CASA  ASSENTAEMEN...|HORTO FLORESTAL|13170036|  SP|7149|  19|38730286|  19|38730951|  19|38730951|                NULL|NULL|NULL|1601-01-01|
|05487690|0001| 79|  1|CARTORIO JANIR SI...| 02|19010101| 00|NULL|NULL|19010101|6912500|   NULL|    RUA|   JOAQUIM FERNANDES|  65|                NULL|         CENTRO|38140000|  MG|5055|NULL|    NULL|NULL|    NULL|NULL|    NULL|                NULL|NULL|NULL|1901-01-01|
|89522064|0088| 17|  2|FORO DA COMARCA D...| 02|19010101| 00|NULL|NULL|19010101|8411600|   NULL|AVENIDA|       GENERAL NETTO| 486|                NULL|         CENTRO|99010022|  RS|8785|  54|33115377|NULL|    NULL| 054| 3114895|FRPASFUNDOJZDIR@T...|NULL|NULL|1901-01-01|
|03961724|0001| 90|  1|                NULL| 02|19010101| 00|NULL| 386|19010101|9900800|   NULL|AVENIDA|PRESIDENTE ANTONI...|  40|             7 ANDAR|        CASTELO|20020010|  RJ|6001|  21|35341315|NULL|    NULL| 021| 2626348|RIODEJANEIRO.AMMI...|NULL|NULL|1901-01-01|
|89522064|0105| 52|  2|FORO DA COMARCA D...| 02|19010101| 00|NULL|NULL|19010101|8411600|   NULL|AVENIDA|        ANTONIO DURO| 260|                NULL|         CENTRO|96180000|  RS|8569|  51|36714434|  51|36719160|NULL|    NULL|FRCAMAQUAJZDIR@TJ...|NULL|NULL|1901-01-01|
|10524665|0001| 58|  1|MARIA DO SOCORRO ...| 02|19010101| 00|NULL|NULL|19010101|6912500|   NULL|    RUA|        DOM PEDRO II| 138|                NULL|         CENTRO|56460000|  PE|2519|  87|38511582|NULL|    NULL|NULL|    NULL|                NULL|NULL|NULL|1901-01-01|
|89522064|0107| 14|  2|FORO DA COMARCA D...| 02|19010101| 00|NULL|NULL|19010101|8411600|   NULL|    RUA|    BARAO DO TRIUNFO| 450|                NULL|         CENTRO|97573634|  RS|8845|  55|32423575|NULL|    NULL|NULL|    NULL|FRSANTLIVRJZDIR@T...|NULL|NULL|1901-01-01|
|04041565|0001| 78|  1|CONSULADO GERAL D...| 02|19010101| 00|NULL| 023|19010101|9900800|   NULL|    RUA|ANTONIO LUMACK DO...| 128|            16 ANDAR|     BOA VIAGEM|51020350|  PE|2531|  81|34635350|NULL|    NULL|  81|34654084|info.recife@alema...|NULL|NULL|1901-01-01|
|07581857|0001| 91|  1|CARTORIO DE REGIS...| 02|19010101| 00|NULL|NULL|19010101|6912500|   NULL|    RUA|        SILVIO ROMEU|  25|           SALA: 02;|          RAMOS|36570001|  MG|5427|  31|38916152|  31|38925657|  31|38916152|MASILVACONTABILID...|NULL|NULL|1901-01-01|
|07734995|0001| 63|  1|SERVIO REGISTRAL ...| 02|19010101| 00|NULL|NULL|19010101|6912500|   NULL|    RUA|  DR OLINTO DE ABREU| 181|                  CX|         CENTRO|35365000|  MG|4005|  31|38722036|NULL|    NULL|  31|38722036|santana@maxbr.com.br|NULL|NULL|1901-01-01|
|05198472|0001| 14|  1|                NULL| 02|19010102| 00|NULL|NULL|19010102|8411600|   NULL|  PRACA| DOUTOR OZI TEIXEIRA| 118|                CASA|         CENTRO|96610000|  RS|8635|  51|37331179|NULL|    NULL|  51|37333639|                NULL|NULL|NULL|1901-01-02|
|27112678|0001| 12|  1|  CARTORIO DE NAZARE| 02|19010201| 00|NULL|NULL|19010201|6912500|   NULL|AVENIDA|      JOANA ANGELICA| 192|             SUBSL 1|         NAZARE|40050000|  BA|3849|  71|91819069|NULL|    NULL|NULL|    NULL|CARTORIODENAZARE@...|NULL|NULL|1901-02-01|
|06273222|0001| 64|  1|CARTORIO GUILHERM...| 02|19010307| 00|NULL|NULL|19010307|6912500|9609299|    RUA|PROFESSOR FREDERI...| 189|         LOJA  A E B|         CENTRO|12600260|  SP|6645|  12|31534896|NULL|    NULL|NULL|    NULL|                NULL|NULL|NULL|1901-03-07|
|09224913|0001| 66|  1|                NULL| 02|19031009| 00|NULL|NULL|19031009|6912500|   NULL|    RUA| LUIS TEIXEIRA COSTA|  91|             LOJA  A|         CENTRO|57770000|  AL|2725|  82|32841888|  82|99977681|  82|32841888|REGISTROCIVILCAJU...|NULL|NULL|1903-10-09|
|09912638|0001| 73|  1|CARTORIO DO REGIS...| 02|19050102| 00|NULL|NULL|19050102|6912500|   NULL|  PRA�A|CAPITAO ANTONIO M...| S N|                NULL|         CENTRO|77590000|  TO|9553|  63|33781151|NULL|    NULL|NULL|    NULL|vvvv_vino@yahoo.c...|NULL|NULL|1905-01-02|
|09262937|0001| 00|  1|SERVICOS REGISTRA...| 02|19050822| 00|NULL|NULL|19050822|6912500|   NULL| 3A RUA|         DO COMERCIO| 128|                NULL|         CENTRO|57620000|  AL|2761|  82|34231207|  82|34231228|NULL|    NULL|                NULL|NULL|NULL|1905-08-22|
|05776411|0001| 97|  1|CONSULADO DEL URU...| 02|19140101| 00|NULL| 845|19140101|9900800|   NULL|AVENIDA|   CRISTOVAO COLOMBO|2999|                NULL|   HIGIENOPOLIS|90560005|  RS|8801| 051|33256198|NULL|    NULL| 051|33256198|cdodistritopoa@te...|NULL|NULL|1914-01-01|
|46454491|0001| 41|  1|                NULL| 02|19220330| 00|NULL|NULL|19220330|9491000|   NULL| QUADRA|      QUADRA 13 LOTE|03-A|                NULL|VILA PARAISO II|72900700|  GO|9677|  61|99210045|NULL|    NULL|NULL|    NULL|PAULOTEC.CONTABIL...|NULL|NULL|1922-03-30|
|10497099|0001| 32|  1|CARTORIO MURILO M...| 02|19280326| 00|NULL|NULL|19280326|6912500|   NULL|    RUA| PADRE FELIX BARRETO|  78|             ANDAR 1|         CENTRO|55460000|  PE|2399|  81|37381139|NULL|    NULL|NULL|    NULL|                NULL|NULL|NULL|1928-03-26|
|10234215|0001| 20|  1|                NULL| 02|19290718| 00|NULL|NULL|19290718|6912500|   NULL|    RUA|       SAO FRANCISCO| 138|                NULL|         CENTRO|56565000|  PE|0554|  87|38401131|NULL|    NULL|NULL|    NULL|                NULL|NULL|NULL|1929-07-18|
+--------+----+---+---+--------------------+---+--------+---+----+----+--------+-------+-------+-------+--------------------+----+--------------------+---------------+--------+----+----+----+--------+----+--------+----+--------+--------------------+----+----+----------+

In [103]:
estabelecimentos_9.filter(F.col('_c0') == '07047183').show()

+--------+----+---+---+--------------+---+--------+---+----+----+--------+-------+--------------------+------+--------------------+----+--------------------+--------------+--------+----+----+----+--------+----+----+----+----+--------------------+----+----+
|     _c0| _c1|_c2|_c3|           _c4|_c5|     _c6|_c7| _c8| _c9|    _c10|   _c11|                _c12|  _c13|                _c14|_c15|                _c16|          _c17|    _c18|_c19|_c20|_c21|    _c22|_c23|_c24|_c25|_c26|                _c27|_c28|_c29|
+--------+----+---+---+--------------+---+--------+---+----+----+--------+-------+--------------------+------+--------------------+----+--------------------+--------------+--------+----+----+----+--------+----+----+----+----+--------------------+----+----+
|07047183|0002| 20|  2|IPQ TECNOLOGIA| 02|20160601| 00|NULL|NULL|20160601|6209100|3312102,4321500,4...|QUADRA|SHC/SW QRSW 04, L...| S/N|      3 PAVIMENTO...|SETOR SUDOESTE|70675400|  DF|9701|  71|21045400|NULL|NULL|NULL|NULL|DOCLEGAIS@ORGANIZ...|NULL|NULL|
+--------+----+---+---+--------------+---+--------+---+----+----+--------+-------+--------------------+------+--------------------+----+--------------------+--------------+--------+----+----+----+--------+----+----+----+----+--------------------+----+----+

In [ ]:
+--------+----+---+---+--------------+---+--------+---+----+----+--------+-------+--------------------+------+--------------------+----+--------------------+--------------+--------+----+----+----+--------+----+----+----+----+--------------------+----+----+
|     _c0| _c1|_c2|_c3|           _c4|_c5|     _c6|_c7| _c8| _c9|    _c10|   _c11|                _c12|  _c13|                _c14|_c15|                _c16|          _c17|    _c18|_c19|_c20|_c21|    _c22|_c23|_c24|_c25|_c26|                _c27|_c28|_c29|
+--------+----+---+---+--------------+---+--------+---+----+----+--------+-------+--------------------+------+--------------------+----+--------------------+--------------+--------+----+----+----+--------+----+----+----+----+--------------------+----+----+
|07047183|0002| 20|  2|IPQ TECNOLOGIA| 02|20160601| 00|NULL|NULL|20160601|6209100|3312102,4321500,4...|QUADRA|SHC/SW QRSW 04, L...| S/N|      3 PAVIMENTO...|SETOR SUDOESTE|70675400|  DF|9701|  71|21045400|NULL|NULL|NULL|NULL|DOCLEGAIS@ORGANIZ...|NULL|NULL|
+--------+----+---+---+--------------+---+--------+---+----+----+--------+-------+--------------------+------+--------------------+----+--------------------+--------------+--------+----+----+----+--------+----+----+----+----+--------------------+----+----+

In [104]:
estab_8 = spark.read.csv('estabelecimentos_8/K3241.K03200Y8.D31014.ESTABELE', sep=';')

In [105]:
estab_8.filter(F.col('_c0') == '07047183').show()

+--------+----+---+---+--------------+---+--------+---+----+----+--------+-------+--------------------+-------+--------------------+-----+----+-------------------+--------+----+----+----+--------+----+----+----+----+--------------------+----+----+
|     _c0| _c1|_c2|_c3|           _c4|_c5|     _c6|_c7| _c8| _c9|    _c10|   _c11|                _c12|   _c13|                _c14| _c15|_c16|               _c17|    _c18|_c19|_c20|_c21|    _c22|_c23|_c24|_c25|_c26|                _c27|_c28|_c29|
+--------+----+---+---+--------------+---+--------+---+----+----+--------+-------+--------------------+-------+--------------------+-----+----+-------------------+--------+----+----+----+--------+----+----+----+----+--------------------+----+----+
|07047183|0005| 73|  2|IPQ TECNOLOGIA| 02|20230607| 00|NULL|NULL|20230607|6209100|3312102,4321500,6...|RODOVIA|DOUTOR MENDEL STE...|13561|NULL|JARDIM BANDEIRANTES|61934000|  CE|1585|  71|33403200|NULL|NULL|NULL|NULL|FISCAL@ORGANIZACA...|NULL|NULL|
+--------+----+---+---+--------------+---+--------+---+----+----+--------+-------+--------------------+-------+--------------------+-----+----+-------------------+--------+----+----+----+--------+----+----+----+----+--------------------+----+----+

In [ ]:
+--------+----+---+---+--------------+---+--------+---+----+----+--------+-------+--------------------+-------+--------------------+-----+----+-------------------+--------+----+----+----+--------+----+----+----+----+--------------------+----+----+
|     _c0| _c1|_c2|_c3|           _c4|_c5|     _c6|_c7| _c8| _c9|    _c10|   _c11|                _c12|   _c13|                _c14| _c15|_c16|               _c17|    _c18|_c19|_c20|_c21|    _c22|_c23|_c24|_c25|_c26|                _c27|_c28|_c29|
+--------+----+---+---+--------------+---+--------+---+----+----+--------+-------+--------------------+-------+--------------------+-----+----+-------------------+--------+----+----+----+--------+----+----+----+----+--------------------+----+----+
|07047183|0005| 73|  2|IPQ TECNOLOGIA| 02|20230607| 00|NULL|NULL|20230607|6209100|3312102,4321500,6...|RODOVIA|DOUTOR MENDEL STE...|13561|NULL|JARDIM BANDEIRANTES|61934000|  CE|1585|  71|33403200|NULL|NULL|NULL|NULL|FISCAL@ORGANIZACA...|NULL|NULL|
+--------+----+---+---+--------------+---+--------+---+----+----+--------+-------+--------------------+-------+--------------------+-----+----+-------------------+--------+----+----+----+--------+----+----+----+----+--------------------+----+----+

In [106]:
estabelecimentos_9.filter(F.col('_c0') == '11461683').show()

+--------+----+---+---+----+---+--------+---+----+----+--------+-------+-------+-------+--------------------+----+--------------------+---------------+--------+----+----+----+--------+----+--------+----+--------+----+----+----+
|     _c0| _c1|_c2|_c3| _c4|_c5|     _c6|_c7| _c8| _c9|    _c10|   _c11|   _c12|   _c13|                _c14|_c15|                _c16|           _c17|    _c18|_c19|_c20|_c21|    _c22|_c23|    _c24|_c25|    _c26|_c27|_c28|_c29|
+--------+----+---+---+----+---+--------+---+----+----+--------+-------+-------+-------+--------------------+----+--------------------+---------------+--------+----+----+----+--------+----+--------+----+--------+----+----+----+
|11461683|0001| 09|  1|NULL| 02|16010101| 00|NULL|NULL|16010101|0133402|0119906|ESTRADA|TAQUARA BRANCA KM...| 1-F|CASA  ASSENTAEMEN...|HORTO FLORESTAL|13170036|  SP|7149|  19|38730286|  19|38730951|  19|38730951|NULL|NULL|NULL|
+--------+----+---+---+----+---+--------+---+----+----+--------+-------+-------+-------+--------------------+----+--------------------+---------------+--------+----+----+----+--------+----+--------+----+--------+----+----+----+

In [ ]:
+--------+----+---+---+----+---+--------+---+----+----+--------+-------+-------+-------+--------------------+----+--------------------+---------------+--------+----+----+----+--------+----+--------+----+--------+----+----+----+
|     _c0| _c1|_c2|_c3| _c4|_c5|     _c6|_c7| _c8| _c9|    _c10|   _c11|   _c12|   _c13|                _c14|_c15|                _c16|           _c17|    _c18|_c19|_c20|_c21|    _c22|_c23|    _c24|_c25|    _c26|_c27|_c28|_c29|
+--------+----+---+---+----+---+--------+---+----+----+--------+-------+-------+-------+--------------------+----+--------------------+---------------+--------+----+----+----+--------+----+--------+----+--------+----+----+----+
|11461683|0001| 09|  1|NULL| 02|16010101| 00|NULL|NULL|16010101|0133402|0119906|ESTRADA|TAQUARA BRANCA KM...| 1-F|CASA  ASSENTAEMEN...|HORTO FLORESTAL|13170036|  SP|7149|  19|38730286|  19|38730951|  19|38730951|NULL|NULL|NULL|
+--------+----+---+---+----+---+--------+---+----+----+--------+-------+-------+-------+--------------------+----+--------------------+---------------+--------+----+----+----+--------+----+--------+----+--------+----+----+----+

In [107]:
estab_8.filter(F.col('_c0') == '11461683').show()

+---+---+---+---+---+---+---+---+---+---+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+
|_c0|_c1|_c2|_c3|_c4|_c5|_c6|_c7|_c8|_c9|_c10|_c11|_c12|_c13|_c14|_c15|_c16|_c17|_c18|_c19|_c20|_c21|_c22|_c23|_c24|_c25|_c26|_c27|_c28|_c29|
+---+---+---+---+---+---+---+---+---+---+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+
+---+---+---+---+---+---+---+---+---+---+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+

In [2]:
import zipfile
import pandas as pd
from os import listdir, getcwd
from os.path import exists




def estabelecimento():
    diretorio = getcwd()
    for arquivo in listdir(diretorio):
        if arquivo.endswith('.zip'):
            zip = zipfile.ZipFile(arquivo)

            for filename in zip.namelist():
                if exists(filename == False):
                    f = zip.extract(filename)
                
                    print("PRE LEITURA")    

                chunksize = 1024*100

                #pjs = pd.DataFrame()
                for  chunk in pd.read_csv(filename, sep= ';', header=None, encoding='latin1', chunksize=chunksize):
                    chunk.columns = ["CNPJ_BASICO",
                            "CNPJ_ORDEM",
                            "CNPJ_DV",
                            "MATRIZ_FILIAL",
                            "NOME_FANTASIA",
                            "SITUACAO_CADASTRAL",
                            "DATA_SITUACAO_CADASTRAL",
                            "MOTIVO_SITUACAO_CADASTRAL",
                            "NOME_CIDADE_EXTERIOR",
                            "CODIGO_PAIS",
                            "DATA_INICIO",
                            "CNAE_PRINCIPAL",
                            "CNAE_SECUNDARIA",
                            "TIPO_LOGRADOURO",
                            "LOGRADOURO",
                            "NÚMERO",
                            "COMPLEMENTO",
                            "BAIRRO",
                            "CEP",
                            "UF",
                            "MUNICIPIO",
                            "DDD_1",
                            "TELEFONE_1",
                            "DDD_2",
                            "TELEFONE_2",
                            "DDD_FAX",
                            "FAX",
                            "CORREIO_ELETRONICO",
                            "SITUACAO_ESPECIAL",
                            "DATA_SITUACAO_ESPECIAL"]

                    print(chunk['CNAE_SECUNDARIA'])

estabelecimento()

PRE LEITURA

/tmp/ipykernel_535449/2280953596.py:24: DtypeWarning: Columns (22,24,26) have mixed types. Specify dtype option on import or set low_memory=False.
  for  chunk in pd.read_csv(filename, sep= ';', header=None, encoding='latin1', chunksize=chunksize):

0                                   4752100,4757100,9511800
1         6619302,6619399,4755501,4755502,4755503,476100...
2                                                       NaN
3                                   7319002,9602501,9602502
4                                                       NaN
                                ...
102395                              4744004,4330404,4744099
102396                                                  NaN
102397    2823200,2869100,3314706,3314719,3321000,439910...
102398                                      4619200,4643501
102399                                                  NaN
Name: CNAE_SECUNDARIA, Length: 102400, dtype: object

/tmp/ipykernel_535449/2280953596.py:24: DtypeWarning: Columns (26) have mixed types. Specify dtype option on import or set low_memory=False.
  for  chunk in pd.read_csv(filename, sep= ';', header=None, encoding='latin1', chunksize=chunksize):

102400                                                  NaN
102401                                                  NaN
102402                                      6920602,8599604
102403                                      4743100,4744001
102404    2542000,2512800,2521700,2599399,2449199,331120...
                                ...
204795                                              4789001
204796                                                  NaN
204797                      8599699,1813001,7319002,4761001
204798                                                  NaN
204799      4759801,4782201,4782202,4789001,4789003,4789099
Name: CNAE_SECUNDARIA, Length: 102400, dtype: object

/tmp/ipykernel_535449/2280953596.py:24: DtypeWarning: Columns (22,24,26) have mixed types. Specify dtype option on import or set low_memory=False.
  for  chunk in pd.read_csv(filename, sep= ';', header=None, encoding='latin1', chunksize=chunksize):

204800                                                  NaN
204801    4751201,4321500,6190699,4752100,9511800,432230...
204802                                              4781400
204803                                                  NaN
204804                                              9602502
                                ...
307195                                                  NaN
307196                                                  NaN
307197              4729699,1053800,4637106,4649499,4665600
307198                                              6462000
307199    4399103,4399105,4789005,4313400,4761003,475120...
Name: CNAE_SECUNDARIA, Length: 102400, dtype: object

/tmp/ipykernel_535449/2280953596.py:24: DtypeWarning: Columns (8,22,24,26) have mixed types. Specify dtype option on import or set low_memory=False.
  for  chunk in pd.read_csv(filename, sep= ';', header=None, encoding='latin1', chunksize=chunksize):

307200                NaN
307201                NaN
307202                NaN
307203                NaN
307204                NaN
               ...
409595                NaN
409596                NaN
409597            7420003
409598                NaN
409599    4637107,4723700
Name: CNAE_SECUNDARIA, Length: 102400, dtype: object

/tmp/ipykernel_535449/2280953596.py:24: DtypeWarning: Columns (8,22,26) have mixed types. Specify dtype option on import or set low_memory=False.
  for  chunk in pd.read_csv(filename, sep= ';', header=None, encoding='latin1', chunksize=chunksize):

409600                                        NaN
409601                            4721104,4755502
409602                            4763602,4789099
409603                                        NaN
409604                                    6821802
                           ...
511995                                    4723700
511996                                        NaN
511997                                        NaN
511998                                    5620104
511999    8630501,8630502,8630503,8630599,8640299
Name: CNAE_SECUNDARIA, Length: 102400, dtype: object

/tmp/ipykernel_535449/2280953596.py:24: DtypeWarning: Columns (22,26) have mixed types. Specify dtype option on import or set low_memory=False.
  for  chunk in pd.read_csv(filename, sep= ';', header=None, encoding='latin1', chunksize=chunksize):

512000                                                  NaN
512001                                                  NaN
512002                      9001902,8592999,8592903,8230001
512003              4755503,4789001,4713002,4759899,4772500
512004              9511800,8599603,6190699,8299707,4789007
                                ...
614395                              8291100,5320202,4929901
614396    4755503,4755502,4789001,4789099,4782201,329909...
614397                                                  NaN
614398    1096100,5620104,4721103,4723700,7319002,478900...
614399                                              5612100
Name: CNAE_SECUNDARIA, Length: 102400, dtype: object

/tmp/ipykernel_535449/2280953596.py:24: DtypeWarning: Columns (26) have mixed types. Specify dtype option on import or set low_memory=False.
  for  chunk in pd.read_csv(filename, sep= ';', header=None, encoding='latin1', chunksize=chunksize):

614400    9511800,4712100,6190699,9329804,7721700,472110...
614401                      4755503,4755502,4789099,4782201
614402                                      1412601,4781400
614403                                              3329501
614404                                                  NaN
                                ...
716795                                              9602502
716796                                      4751202,4751201
716797    1812100,1822999,6190601,6190602,6201501,620230...
716798                                                  NaN
716799                                      7490104,9521500
Name: CNAE_SECUNDARIA, Length: 102400, dtype: object

/tmp/ipykernel_535449/2280953596.py:24: DtypeWarning: Columns (22,26) have mixed types. Specify dtype option on import or set low_memory=False.
  for  chunk in pd.read_csv(filename, sep= ';', header=None, encoding='latin1', chunksize=chunksize):

716800                                                  NaN
716801                                      4923002,7990200
716802    7420004,5912099,6190699,4751201,8219901,432150...
716803                                      4754701,4785799
716804                                      8211300,8291100
                                ...
819195                              0161002,0161003,4623199
819196                                              5611201
819197                                              3101200
819198                                      4930201,4930204
819199                                              4782201
Name: CNAE_SECUNDARIA, Length: 102400, dtype: object

/tmp/ipykernel_535449/2280953596.py:24: DtypeWarning: Columns (22,24,26) have mixed types. Specify dtype option on import or set low_memory=False.
  for  chunk in pd.read_csv(filename, sep= ';', header=None, encoding='latin1', chunksize=chunksize):

819200                        NaN
819201                    8630599
819202                        NaN
819203                        NaN
819204            4781400,4712100
                   ...
921595                        NaN
921596                        NaN
921597                        NaN
921598            4930201,4923001
921599    1749400,1629301,2229399
Name: CNAE_SECUNDARIA, Length: 102400, dtype: object
921600                                                   NaN
921601                               4752100,4759899,4751201
921602                                                   NaN
921603                                                   NaN
921604       9511800,8230001,5812302,7319002,5912099,5813100
                                 ...
1023995                                      4755503,3299099
1023996                                                  NaN
1023997    4221904,4221905,4321500,4713004,4713002,475120...
1023998                                                  NaN
1023999                      4763602,4782201,4783102,4783101
Name: CNAE_SECUNDARIA, Length: 102400, dtype: object
1024000                                              5611201
1024001                                                  NaN
1024002                                                  NaN
1024003                              8550302,7020400,8599604
1024004                                              4772500
                                 ...
1126395                                                  NaN
1126396                                                  NaN
1126397                                                  NaN
1126398    8599605,5812302,8599699,8599604,5912099,821999...
1126399                                              4930201
Name: CNAE_SECUNDARIA, Length: 102400, dtype: object

/tmp/ipykernel_535449/2280953596.py:24: DtypeWarning: Columns (22,26) have mixed types. Specify dtype option on import or set low_memory=False.
  for  chunk in pd.read_csv(filename, sep= ';', header=None, encoding='latin1', chunksize=chunksize):

1126400                                                  NaN
1126401    4763601,2219600,1412601,2399101,4789099,234949...
1126402              4929904,7912100,7990200,8230001,9319101
1126403                                                  NaN
1126404                                                  NaN
                                 ...
1228795                                              4772500
1228796    7420001,9002701,6319400,8219999,8599604,591110...
1228797                              4647801,4789099,4649499
1228798                                                  NaN
1228799                                                  NaN
Name: CNAE_SECUNDARIA, Length: 102400, dtype: object

/tmp/ipykernel_535449/2280953596.py:24: DtypeWarning: Columns (22,26) have mixed types. Specify dtype option on import or set low_memory=False.
  for  chunk in pd.read_csv(filename, sep= ';', header=None, encoding='latin1', chunksize=chunksize):

1228800              4729601,4781400,9529101,4789003,4782201
1228801                                                  NaN
1228802                                                  NaN
1228803                              7020400,7319003,7319004
1228804    0163600,4623109,4632001,4686902,4930202,521170...
                                 ...
1331195                                              9499500
1331196                                                  NaN
1331197                                      6821802,6822600
1331198                                      4520004,4520006
1331199                              4530703,4520006,4530702
Name: CNAE_SECUNDARIA, Length: 102400, dtype: object

/tmp/ipykernel_535449/2280953596.py:24: DtypeWarning: Columns (22,26) have mixed types. Specify dtype option on import or set low_memory=False.
  for  chunk in pd.read_csv(filename, sep= ';', header=None, encoding='latin1', chunksize=chunksize):

1331200    2539001,3321000,3329501,3702900,4120400,421380...
1331201                                                  NaN
1331202                              6810202,6822600,6810201
1331203                                                  NaN
1331204    4923002,4924800,4930201,4930204,5212500,532020...
                                 ...
1433595      4783102,4781400,4723700,4782201,4772500,4763602
1433596                                              1091102
1433597                                      4781400,3299003
1433598                                              5611203
1433599                                      5620104,5611201
Name: CNAE_SECUNDARIA, Length: 102400, dtype: object
1433600                        NaN
1433601                    4520006
1433602            8630501,8630502
1433603                        NaN
1433604                        NaN
                    ...
1535995    5612100,4721103,4724500
1535996                        NaN
1535997                    4330404
1535998                        NaN
1535999                        NaN
Name: CNAE_SECUNDARIA, Length: 102400, dtype: object

/tmp/ipykernel_535449/2280953596.py:24: DtypeWarning: Columns (22,26) have mixed types. Specify dtype option on import or set low_memory=False.
  for  chunk in pd.read_csv(filename, sep= ';', header=None, encoding='latin1', chunksize=chunksize):

1536000                        NaN
1536001                        NaN
1536002            4755502,4761003
1536003    4755503,4755502,4789099
1536004            4120400,7112000
                    ...
1638395            5229099,4929902
1638396                        NaN
1638397                        NaN
1638398                        NaN
1638399                        NaN
Name: CNAE_SECUNDARIA, Length: 102400, dtype: object
1638400    4789001,9602501,4789099,9602502,4729699
1638401                                        NaN
1638402                                        NaN
1638403                                        NaN
1638404                                    4781400
                            ...
1740795                                        NaN
1740796                                        NaN
1740797                                        NaN
1740798                                        NaN
1740799                            0151201,0151202
Name: CNAE_SECUNDARIA, Length: 102400, dtype: object
1740800    8129000
1740801        NaN
1740802    4772500
1740803    5611201
1740804        NaN
            ...
1843195        NaN
1843196        NaN
1843197        NaN
1843198        NaN
1843199        NaN
Name: CNAE_SECUNDARIA, Length: 102400, dtype: object
1843200    4633801,4635401,4635402,4635403,4635499,463710...
1843201                                                  NaN
1843202                                                  NaN
1843203                                                  NaN
1843204                                                  NaN
                                 ...
1945595                                              4772500
1945596                      4781400,4789099,4752100,4751201
1945597                                              4751201
1945598                                              9602502
1945599                                                  NaN
Name: CNAE_SECUNDARIA, Length: 102400, dtype: object
1945600    4321500,4322301,4930201,4399103
1945601                                NaN
1945602                                NaN
1945603                                NaN
1945604                    9002702,4785701
                        ...
2047995                            9609208
2047996                            4321500
2047997            5510801,6821802,7490104
2047998                            4789008
2047999                                NaN
Name: CNAE_SECUNDARIA, Length: 102400, dtype: object
2048000                                                  NaN
2048001                                      4721103,4723700
2048002                                                  NaN
2048003    5819100,9511800,8599699,7319002,8599605,859960...
2048004                                                  NaN
                                 ...
2150395                                                  NaN
2150396                              7719599,4520007,4530705
2150397                                                  NaN
2150398                                              6311900
2150399                      4642702,4781400,7319002,8599604
Name: CNAE_SECUNDARIA, Length: 102400, dtype: object
2150400                                    1629301,2399101
2150401            4623109,4683400,4771704,4789004,7490103
2150402                            6202300,6201501,6209100
2150403                    4751201,4753900,4754703,4757100
2150404    4759899,4755503,8599603,4763602,4782202,7990200
                                ...
2252795                                                NaN
2252796                                                NaN
2252797                                            8512100
2252798                                                NaN
2252799                                            4752100
Name: CNAE_SECUNDARIA, Length: 102400, dtype: object
2252800                                                  NaN
2252801      5620104,4789099,1093702,5612100,1091102,1093701
2252802              8599699,4321500,3314702,2229399,4930201
2252803                      8130300,4321500,4322301,4330404
2252804    1821100,3314709,4930201,4930202,5320202,631190...
                                 ...
2355195                                                  NaN
2355196                                                  NaN
2355197                                              7319099
2355198                                              8599604
2355199                                                  NaN
Name: CNAE_SECUNDARIA, Length: 102400, dtype: object

/tmp/ipykernel_535449/2280953596.py:24: DtypeWarning: Columns (8,26) have mixed types. Specify dtype option on import or set low_memory=False.
  for  chunk in pd.read_csv(filename, sep= ';', header=None, encoding='latin1', chunksize=chunksize):

2355200                                    4541206,4541207
2355201                                                NaN
2355202                                            5611203
2355203                            7319002,5229099,4929901
2355204    4929903,7911200,4782202,7990200,5099801,8230001
                                ...
2457595                                                NaN
2457596                                            4722901
2457597                                                NaN
2457598                                    3831999,3811400
2457599                                                NaN
Name: CNAE_SECUNDARIA, Length: 102400, dtype: object
2457600                              8630502,8630503,8690999
2457601                                      4732600,4520001
2457602                                              4789001
2457603    8550302,8599604,8630502,8630503,8630599,864020...
2457604                                                  NaN
                                 ...
2559995                                                  NaN
2559996    3319800,5620102,1096100,7319002,5612100,103330...
2559997              5620104,4755502,4755503,1091102,1629301
2559998    8130300,3101200,4321500,4322301,3702900,433040...
2559999                                              8712300
Name: CNAE_SECUNDARIA, Length: 102400, dtype: object
2560000                                                NaN
2560001                                            1411802
2560002                    6630400,7490104,8211300,8291100
2560003    4330403,4330404,4330405,7111100,7410202,7490104
2560004                                                NaN
                                ...
2662395                                            4399103
2662396                    4322301,4330402,4399103,4330404
2662397                                                NaN
2662398                                            4530704
2662399                                    5320202,8219999
Name: CNAE_SECUNDARIA, Length: 102400, dtype: object

/tmp/ipykernel_535449/2280953596.py:24: DtypeWarning: Columns (22,26) have mixed types. Specify dtype option on import or set low_memory=False.
  for  chunk in pd.read_csv(filename, sep= ';', header=None, encoding='latin1', chunksize=chunksize):

2662400                        NaN
2662401                    4772500
2662402                    8599604
2662403                    4789005
2662404                        NaN
                    ...
2764795    4322301,4330402,4399103
2764796                    4399103
2764797            4511102,4669999
2764798                        NaN
2764799                        NaN
Name: CNAE_SECUNDARIA, Length: 102400, dtype: object

/tmp/ipykernel_535449/2280953596.py:24: DtypeWarning: Columns (26) have mixed types. Specify dtype option on import or set low_memory=False.
  for  chunk in pd.read_csv(filename, sep= ';', header=None, encoding='latin1', chunksize=chunksize):

2764800                                                  NaN
2764801              4721102,4721103,4721104,4722901,4723700
2764802    4321500,4752100,4753900,4759899,6190699,771100...
2764803                                                  NaN
2764804                                                  NaN
                                 ...
2867195    4744001,4753900,4754701,4759899,4761003,476360...
2867196                              4723700,4729699,4721102
2867197                                                  NaN
2867198                                      1749400,1340599
2867199                                                  NaN
Name: CNAE_SECUNDARIA, Length: 102400, dtype: object

/tmp/ipykernel_535449/2280953596.py:24: DtypeWarning: Columns (8) have mixed types. Specify dtype option on import or set low_memory=False.
  for  chunk in pd.read_csv(filename, sep= ';', header=None, encoding='latin1', chunksize=chunksize):

2867200    4924800,4930204,4930201,4929902,4929901
2867201                                        NaN
2867202                                        NaN
2867203                                    5320201
2867204                                    4781400
                            ...
2969595                            4321500,4322301
2969596                                        NaN
2969597                                        NaN
2969598                                        NaN
2969599                    4729601,4751201,4763602
Name: CNAE_SECUNDARIA, Length: 102400, dtype: object
2969600                                                  NaN
2969601                                                  NaN
2969602                                              4530704
2969603                                                  NaN
2969604                                              4530705
                                 ...
3071995                              4530703,4520005,4789005
3071996                                              4330405
3071997              4723700,4729699,4754701,4753900,4930204
3071998    5620104,4781400,4321500,3101200,2512800,259930...
3071999                                                  NaN
Name: CNAE_SECUNDARIA, Length: 102400, dtype: object
3072000                                NaN
3072001                                NaN
3072002                    5912099,1749400
3072003                                NaN
3072004                                NaN
                        ...
3174395                                NaN
3174396                                NaN
3174397                                NaN
3174398                                NaN
3174399    7319002,7319003,7319004,7319099
Name: CNAE_SECUNDARIA, Length: 102400, dtype: object
3174400                                        NaN
3174401                                        NaN
3174402                                        NaN
3174403                            4520003,2950600
3174404                            9529199,1412602
                            ...
3276795                                        NaN
3276796                                        NaN
3276797                                        NaN
3276798    7732202,4729601,7319002,4729699,4744001
3276799            4322301,4330402,4930201,4330404
Name: CNAE_SECUNDARIA, Length: 102400, dtype: object
3276800                NaN
3276801            5320201
3276802                NaN
3276803                NaN
3276804                NaN
                ...
3379195            4789005
3379196    8219999,8230001
3379197    8599603,8219999
3379198                NaN
3379199                NaN
Name: CNAE_SECUNDARIA, Length: 102400, dtype: object

/tmp/ipykernel_535449/2280953596.py:24: DtypeWarning: Columns (26) have mixed types. Specify dtype option on import or set low_memory=False.
  for  chunk in pd.read_csv(filename, sep= ';', header=None, encoding='latin1', chunksize=chunksize):

3379200                              3101200,3102100,3329501
3379201                                                  NaN
3379202                                              4782201
3379203                                                  NaN
3379204                                              9329899
                                 ...
3481595                                                  NaN
3481596    4789003,4789099,4789001,4789008,4782202,478900...
3481597                                              4781400
3481598                              4321500,4322301,4399103
3481599                      4520001,4530701,4530702,4530705
Name: CNAE_SECUNDARIA, Length: 102400, dtype: object
3481600    4722901,4789099,4721103,4723700,4772500,476360...
3481601                                                  NaN
3481602                                                  NaN
3481603              4721104,4729699,1091102,1093701,1091101
3481604                                                  NaN
                                 ...
3583995                      7319002,4755502,4763601,4761001
3583996                                                  NaN
3583997                                                  NaN
3583998      7420004,9511800,5912099,9001902,8230001,7420001
3583999    7020400,9511800,8219901,3314707,4751202,773310...
Name: CNAE_SECUNDARIA, Length: 102400, dtype: object
3584000                                                NaN
3584001                    4789099,4753900,4744001,9700500
3584002                                                NaN
3584003                                                NaN
3584004                            4530704,4541206,4541207
                                ...
3686395                                    8211300,4619200
3686396    8610102,8621601,8621602,8630502,8630501,8610101
3686397                                            4712100
3686398                                                NaN
3686399                                    9609208,9602502
Name: CNAE_SECUNDARIA, Length: 102400, dtype: object
3686400                                NaN
3686401                                NaN
3686402                            4782201
3686403                                NaN
3686404            1091102,5611201,5611203
                        ...
3788795                    4742300,4756300
3788796                                NaN
3788797                                NaN
3788798                                NaN
3788799    4781400,9001902,4712100,4729699
Name: CNAE_SECUNDARIA, Length: 102400, dtype: object

/tmp/ipykernel_535449/2280953596.py:24: DtypeWarning: Columns (8,22,26,28) have mixed types. Specify dtype option on import or set low_memory=False.
  for  chunk in pd.read_csv(filename, sep= ';', header=None, encoding='latin1', chunksize=chunksize):

3788800        NaN
3788801        NaN
3788802        NaN
3788803        NaN
3788804        NaN
            ...
3891195    4617600
3891196        NaN
3891197        NaN
3891198        NaN
3891199        NaN
Name: CNAE_SECUNDARIA, Length: 102400, dtype: object

/tmp/ipykernel_535449/2280953596.py:24: DtypeWarning: Columns (8,26) have mixed types. Specify dtype option on import or set low_memory=False.
  for  chunk in pd.read_csv(filename, sep= ';', header=None, encoding='latin1', chunksize=chunksize):

3891200                                                  NaN
3891201                                                  NaN
3891202    6399200,7410299,7490105,7490199,8219999,829970...
3891203                                                  NaN
3891204                                      7912100,7990200
                                 ...
3993595                                                  NaN
3993596                                                  NaN
3993597    4623109,4683400,4691500,4771704,4784900,478900...
3993598                                      9493600,9499500
3993599                                                  NaN
Name: CNAE_SECUNDARIA, Length: 102400, dtype: object

/tmp/ipykernel_535449/2280953596.py:24: DtypeWarning: Columns (22,24,26) have mixed types. Specify dtype option on import or set low_memory=False.
  for  chunk in pd.read_csv(filename, sep= ';', header=None, encoding='latin1', chunksize=chunksize):

3993600                        NaN
3993601                        NaN
3993602    4618401,4618402,4618403
3993603                        NaN
3993604                        NaN
                    ...
4095995                        NaN
4095996                        NaN
4095997                    4732600
4095998                    4923002
4095999                        NaN
Name: CNAE_SECUNDARIA, Length: 102400, dtype: object

/tmp/ipykernel_535449/2280953596.py:24: DtypeWarning: Columns (8,26) have mixed types. Specify dtype option on import or set low_memory=False.
  for  chunk in pd.read_csv(filename, sep= ';', header=None, encoding='latin1', chunksize=chunksize):

4096000    9493600,9499500
4096001                NaN
4096002                NaN
4096003                NaN
4096004            4651602
                ...
4198395                NaN
4198396                NaN
4198397                NaN
4198398                NaN
4198399                NaN
Name: CNAE_SECUNDARIA, Length: 102400, dtype: object

/tmp/ipykernel_535449/2280953596.py:24: DtypeWarning: Columns (8,22,26,28) have mixed types. Specify dtype option on import or set low_memory=False.
  for  chunk in pd.read_csv(filename, sep= ';', header=None, encoding='latin1', chunksize=chunksize):

4198400    8129000
4198401        NaN
4198402        NaN
4198403        NaN
4198404        NaN
            ...
4300795        NaN
4300796        NaN
4300797        NaN
4300798        NaN
4300799        NaN
Name: CNAE_SECUNDARIA, Length: 102400, dtype: object

/tmp/ipykernel_535449/2280953596.py:24: DtypeWarning: Columns (8,22,26) have mixed types. Specify dtype option on import or set low_memory=False.
  for  chunk in pd.read_csv(filename, sep= ';', header=None, encoding='latin1', chunksize=chunksize):

4300800    9493600,9499500
4300801    9493600,9499500
4300802                NaN
4300803                NaN
4300804                NaN
                ...
4403195                NaN
4403196                NaN
4403197                NaN
4403198                NaN
4403199                NaN
Name: CNAE_SECUNDARIA, Length: 102400, dtype: object

/tmp/ipykernel_535449/2280953596.py:24: DtypeWarning: Columns (8,22,26) have mixed types. Specify dtype option on import or set low_memory=False.
  for  chunk in pd.read_csv(filename, sep= ';', header=None, encoding='latin1', chunksize=chunksize):

4403200                                                  NaN
4403201                      4679601,4693100,9521500,4662100
4403202                                                  NaN
4403203                                                  NaN
4403204    4772500,4729602,4762800,4752100,4751201,472969...
                                 ...
4505595    4755503,4723700,4722901,4772500,4721104,472450...
4505596                                                  NaN
4505597                                                  NaN
4505598                                                  NaN
4505599                                                  NaN
Name: CNAE_SECUNDARIA, Length: 102400, dtype: object

/tmp/ipykernel_535449/2280953596.py:24: DtypeWarning: Columns (8,24) have mixed types. Specify dtype option on import or set low_memory=False.
  for  chunk in pd.read_csv(filename, sep= ';', header=None, encoding='latin1', chunksize=chunksize):

4505600        NaN
4505601        NaN
4505602    1540800
4505603        NaN
4505604        NaN
            ...
4607995        NaN
4607996        NaN
4607997        NaN
4607998        NaN
4607999        NaN
Name: CNAE_SECUNDARIA, Length: 102400, dtype: object

/tmp/ipykernel_535449/2280953596.py:24: DtypeWarning: Columns (8,22,26) have mixed types. Specify dtype option on import or set low_memory=False.
  for  chunk in pd.read_csv(filename, sep= ';', header=None, encoding='latin1', chunksize=chunksize):

4608000    NaN
4608001    NaN
4608002    NaN
4608003    NaN
4608004    NaN
          ...
4710395    NaN
4710396    NaN
4710397    NaN
4710398    NaN
4710399    NaN
Name: CNAE_SECUNDARIA, Length: 102400, dtype: object

/tmp/ipykernel_535449/2280953596.py:24: DtypeWarning: Columns (8,22,26) have mixed types. Specify dtype option on import or set low_memory=False.
  for  chunk in pd.read_csv(filename, sep= ';', header=None, encoding='latin1', chunksize=chunksize):

4710400    NaN
4710401    NaN
4710402    NaN
4710403    NaN
4710404    NaN
          ...
4812795    NaN
4812796    NaN
4812797    NaN
4812798    NaN
4812799    NaN
Name: CNAE_SECUNDARIA, Length: 102400, dtype: object

/tmp/ipykernel_535449/2280953596.py:24: DtypeWarning: Columns (8,22,26) have mixed types. Specify dtype option on import or set low_memory=False.
  for  chunk in pd.read_csv(filename, sep= ';', header=None, encoding='latin1', chunksize=chunksize):

4812800                                                  NaN
4812801                                                  NaN
4812802    6399200,7410299,7490105,7490199,8219999,829970...
4812803                                              7830200
4812804                                              9499500
                                 ...
4915195                                                  NaN
4915196                                                  NaN
4915197                                                  NaN
4915198                                              8299799
4915199                                                  NaN
Name: CNAE_SECUNDARIA, Length: 102400, dtype: object

/tmp/ipykernel_535449/2280953596.py:24: DtypeWarning: Columns (8,24) have mixed types. Specify dtype option on import or set low_memory=False.
  for  chunk in pd.read_csv(filename, sep= ';', header=None, encoding='latin1', chunksize=chunksize):

4915200        NaN
4915201    6424702
4915202        NaN
4915203        NaN
4915204        NaN
            ...
5017595    5611201
5017596        NaN
5017597        NaN
5017598        NaN
5017599        NaN
Name: CNAE_SECUNDARIA, Length: 102400, dtype: object

/tmp/ipykernel_535449/2280953596.py:24: DtypeWarning: Columns (24) have mixed types. Specify dtype option on import or set low_memory=False.
  for  chunk in pd.read_csv(filename, sep= ';', header=None, encoding='latin1', chunksize=chunksize):

5017600                    4781400,4329199,4330404,4120400
5017601                                            4789099
5017602                                                NaN
5017603                                    9493600,9499500
5017604                                            4782201
                                ...
5119995                                                NaN
5119996                                                NaN
5119997    6201501,6202300,6203100,6311900,6319400,8599603
5119998                                                NaN
5119999                                                NaN
Name: CNAE_SECUNDARIA, Length: 102400, dtype: object

/tmp/ipykernel_535449/2280953596.py:24: DtypeWarning: Columns (8,26) have mixed types. Specify dtype option on import or set low_memory=False.
  for  chunk in pd.read_csv(filename, sep= ';', header=None, encoding='latin1', chunksize=chunksize):

5120000        NaN
5120001        NaN
5120002        NaN
5120003        NaN
5120004        NaN
            ...
5222395    8129000
5222396        NaN
5222397        NaN
5222398        NaN
5222399        NaN
Name: CNAE_SECUNDARIA, Length: 102400, dtype: object

/tmp/ipykernel_535449/2280953596.py:24: DtypeWarning: Columns (8,22,26) have mixed types. Specify dtype option on import or set low_memory=False.
  for  chunk in pd.read_csv(filename, sep= ';', header=None, encoding='latin1', chunksize=chunksize):

5222400                NaN
5222401                NaN
5222402                NaN
5222403                NaN
5222404                NaN
                ...
5324795                NaN
5324796                NaN
5324797                NaN
5324798    4789004,4744001
5324799                NaN
Name: CNAE_SECUNDARIA, Length: 102400, dtype: object

/tmp/ipykernel_535449/2280953596.py:24: DtypeWarning: Columns (26) have mixed types. Specify dtype option on import or set low_memory=False.
  for  chunk in pd.read_csv(filename, sep= ';', header=None, encoding='latin1', chunksize=chunksize):

5324800    6822600,6463800
5324801            4723700
5324802            5320201
5324803                NaN
5324804            4512902
                ...
5427195                NaN
5427196                NaN
5427197                NaN
5427198            4712100
5427199    5611204,9329803
Name: CNAE_SECUNDARIA, Length: 102400, dtype: object

/tmp/ipykernel_535449/2280953596.py:24: DtypeWarning: Columns (8,22,24,26) have mixed types. Specify dtype option on import or set low_memory=False.
  for  chunk in pd.read_csv(filename, sep= ';', header=None, encoding='latin1', chunksize=chunksize):

5427200                NaN
5427201                NaN
5427202                NaN
5427203                NaN
5427204    6462000,6810201
                ...
5529595    4759899,4713002
5529596                NaN
5529597            4930202
5529598                NaN
5529599                NaN
Name: CNAE_SECUNDARIA, Length: 102400, dtype: object

/tmp/ipykernel_535449/2280953596.py:24: DtypeWarning: Columns (22,24,26) have mixed types. Specify dtype option on import or set low_memory=False.
  for  chunk in pd.read_csv(filename, sep= ';', header=None, encoding='latin1', chunksize=chunksize):

5529600                NaN
5529601    8012900,8020001
5529602            4321500
5529603                NaN
5529604            4930201
                ...
5631995            4512902
5631996                NaN
5631997                NaN
5631998                NaN
5631999                NaN
Name: CNAE_SECUNDARIA, Length: 102400, dtype: object

/tmp/ipykernel_535449/2280953596.py:24: DtypeWarning: Columns (26) have mixed types. Specify dtype option on import or set low_memory=False.
  for  chunk in pd.read_csv(filename, sep= ';', header=None, encoding='latin1', chunksize=chunksize):

5632000                                                  NaN
5632001                                              6201501
5632002                                                  NaN
5632003                                                  NaN
5632004                                                  NaN
                                 ...
5734395    7739002,8211300,8630502,8630504,8630599,864020...
5734396    4399105,4399199,7739099,7111100,7112000,711970...
5734397                              5510801,4729699,0322101
5734398                                                  NaN
5734399                                                  NaN
Name: CNAE_SECUNDARIA, Length: 102400, dtype: object

/tmp/ipykernel_535449/2280953596.py:24: DtypeWarning: Columns (26) have mixed types. Specify dtype option on import or set low_memory=False.
  for  chunk in pd.read_csv(filename, sep= ';', header=None, encoding='latin1', chunksize=chunksize):

5734400                                                  NaN
5734401    4789001,9602501,1340599,1412603,5620101,561120...
5734402                                              9609299
5734403                                                  NaN
5734404                                      9493600,9499500
                                 ...
5836795                                                  NaN
5836796                                                  NaN
5836797                                                  NaN
5836798                                                  NaN
5836799                                              6810202
Name: CNAE_SECUNDARIA, Length: 102400, dtype: object

/tmp/ipykernel_535449/2280953596.py:24: DtypeWarning: Columns (8,22,26) have mixed types. Specify dtype option on import or set low_memory=False.
  for  chunk in pd.read_csv(filename, sep= ';', header=None, encoding='latin1', chunksize=chunksize):

5836800                                              4722901
5836801                                                  NaN
5836802                                      5819100,8599604
5836803                              6810201,6810202,6822600
5836804                              5911199,7319002,7319003
                                 ...
5939195    4752100,9511800,4751201,4751202,7319002,561210...
5939196                                      4742300,4744001
5939197                                              8299799
5939198                                                  NaN
5939199                                              0133499
Name: CNAE_SECUNDARIA, Length: 102400, dtype: object

/tmp/ipykernel_535449/2280953596.py:24: DtypeWarning: Columns (26) have mixed types. Specify dtype option on import or set low_memory=False.
  for  chunk in pd.read_csv(filename, sep= ';', header=None, encoding='latin1', chunksize=chunksize):

5939200                                                  NaN
5939201                                              4712100
5939202                                                  NaN
5939203                                                  NaN
5939204    1033301,1033302,1053800,1122403,1032599,463719...
                                 ...
6041595                                                  NaN
6041596                                                  NaN
6041597                                                  NaN
6041598                                                  NaN
6041599                                      2593400,2599399
Name: CNAE_SECUNDARIA, Length: 102400, dtype: object

/tmp/ipykernel_535449/2280953596.py:24: DtypeWarning: Columns (8,21,22,24,26) have mixed types. Specify dtype option on import or set low_memory=False.
  for  chunk in pd.read_csv(filename, sep= ';', header=None, encoding='latin1', chunksize=chunksize):

6041600    8599603,9511800
6041601    0133404,0119901
6041602            8599699
6041603                NaN
6041604            6311900
                ...
6143995                NaN
6143996                NaN
6143997                NaN
6143998                NaN
6143999                NaN
Name: CNAE_SECUNDARIA, Length: 102400, dtype: object

/tmp/ipykernel_535449/2280953596.py:24: DtypeWarning: Columns (8,22,26) have mixed types. Specify dtype option on import or set low_memory=False.
  for  chunk in pd.read_csv(filename, sep= ';', header=None, encoding='latin1', chunksize=chunksize):

6144000                                                  NaN
6144001                                                  NaN
6144002                                                  NaN
6144003                                                  NaN
6144004                                                  NaN
                                 ...
6246395                                                  NaN
6246396                                                  NaN
6246397                                                  NaN
6246398                                                  NaN
6246399    4789007,4753900,4755502,4744001,4744002,453070...
Name: CNAE_SECUNDARIA, Length: 102400, dtype: object

/tmp/ipykernel_535449/2280953596.py:24: DtypeWarning: Columns (22,26) have mixed types. Specify dtype option on import or set low_memory=False.
  for  chunk in pd.read_csv(filename, sep= ';', header=None, encoding='latin1', chunksize=chunksize):

6246400                                      5611201,8230002
6246401    4761002,9602502,9601701,3212400,4520008,472110...
6246402                                              5620101
6246403                              3212400,4772500,3299099
6246404                                      3329501,4754701
                                 ...
6348795                              4619200,8291100,8299799
6348796              4511102,4520001,4520002,4530703,7490104
6348797                                              0133499
6348798                                              1412603
6348799                                      0111302,0151201
Name: CNAE_SECUNDARIA, Length: 102400, dtype: object

/tmp/ipykernel_535449/2280953596.py:24: DtypeWarning: Columns (26) have mixed types. Specify dtype option on import or set low_memory=False.
  for  chunk in pd.read_csv(filename, sep= ';', header=None, encoding='latin1', chunksize=chunksize):

6348800                                                  NaN
6348801                                      4711302,4712100
6348802                                                  NaN
6348803    4313400,4221903,4399105,4222701,4221902,439910...
6348804                              0151201,0151202,0139306
                                 ...
6451195                                      4330405,2599301
6451196                                                  NaN
6451197                              4712100,4632001,5611203
6451198    7319002,7319003,8599604,9001902,9001903,900190...
6451199                                                  NaN
Name: CNAE_SECUNDARIA, Length: 102400, dtype: object

/tmp/ipykernel_535449/2280953596.py:24: DtypeWarning: Columns (22,26) have mixed types. Specify dtype option on import or set low_memory=False.
  for  chunk in pd.read_csv(filename, sep= ';', header=None, encoding='latin1', chunksize=chunksize):

6451200    4742300,4753900,4322301,4757100,4321500
6451201                                    6810202
6451202                                        NaN
6451203                                    8599604
6451204                                        NaN
                            ...
6553595                                    5611203
6553596                                        NaN
6553597                    1413403,4781400,1411802
6553598                                    9602502
6553599                                    9529199
Name: CNAE_SECUNDARIA, Length: 102400, dtype: object

/tmp/ipykernel_535449/2280953596.py:24: DtypeWarning: Columns (22,26) have mixed types. Specify dtype option on import or set low_memory=False.
  for  chunk in pd.read_csv(filename, sep= ';', header=None, encoding='latin1', chunksize=chunksize):

6553600                NaN
6553601                NaN
6553602    5612100,4781400
6553603                NaN
6553604            7420004
                ...
6655995            4782201
6655996    4930204,5021101
6655997                NaN
6655998            4744004
6655999                NaN
Name: CNAE_SECUNDARIA, Length: 102400, dtype: object

/tmp/ipykernel_535449/2280953596.py:24: DtypeWarning: Columns (21,22) have mixed types. Specify dtype option on import or set low_memory=False.
  for  chunk in pd.read_csv(filename, sep= ';', header=None, encoding='latin1', chunksize=chunksize):

6656000                                                  NaN
6656001                                                  NaN
6656002                                              4723700
6656003                                              9493600
6656004    4742300,4744003,4321500,4322301,4741500,433040...
                                 ...
6758395                                              9529105
6758396                                                  NaN
6758397                      4930202,7319099,4520005,8011101
6758398                                                  NaN
6758399                                      9512600,4752100
Name: CNAE_SECUNDARIA, Length: 102400, dtype: object

/tmp/ipykernel_535449/2280953596.py:24: DtypeWarning: Columns (21,22,26) have mixed types. Specify dtype option on import or set low_memory=False.
  for  chunk in pd.read_csv(filename, sep= ';', header=None, encoding='latin1', chunksize=chunksize):

6758400                                            2532201
6758401                                                NaN
6758402                                            5620104
6758403    8599605,8230001,4789099,4713002,4723700,7319002
6758404                                                NaN
                                ...
6860795                                                NaN
6860796                                                NaN
6860797                                    4520007,4530703
6860798                                    7721700,1749400
6860799                                            4729699
Name: CNAE_SECUNDARIA, Length: 102400, dtype: object

/tmp/ipykernel_535449/2280953596.py:24: DtypeWarning: Columns (26) have mixed types. Specify dtype option on import or set low_memory=False.
  for  chunk in pd.read_csv(filename, sep= ';', header=None, encoding='latin1', chunksize=chunksize):

6860800                        NaN
6860801                        NaN
6860802                        NaN
6860803                        NaN
6860804                        NaN
                    ...
6963195                    3212400
6963196    4930203,5211799,5211702
6963197                        NaN
6963198                        NaN
6963199                        NaN
Name: CNAE_SECUNDARIA, Length: 102400, dtype: object

/tmp/ipykernel_535449/2280953596.py:24: DtypeWarning: Columns (21,22,26) have mixed types. Specify dtype option on import or set low_memory=False.
  for  chunk in pd.read_csv(filename, sep= ';', header=None, encoding='latin1', chunksize=chunksize):

6963200                              4530703,4732600,4520003
6963201                                                  NaN
6963202                                                  NaN
6963203                                              4782201
6963204                                                  NaN
                                 ...
7065595                                      4723700,4930202
7065596                                              5611201
7065597      4763601,4755503,4755501,4789099,4782201,4763602
7065598    0151201,0162803,1012104,1013901,1013902,109969...
7065599    4712100,4742300,4744001,4744003,4744004,474409...
Name: CNAE_SECUNDARIA, Length: 102400, dtype: object

/tmp/ipykernel_535449/2280953596.py:24: DtypeWarning: Columns (21,22,24,26) have mixed types. Specify dtype option on import or set low_memory=False.
  for  chunk in pd.read_csv(filename, sep= ';', header=None, encoding='latin1', chunksize=chunksize):

7065600                      5611204,4712100,4930201,4930202
7065601                                                  NaN
7065602              4755501,4755502,4755503,4763601,4782201
7065603                                              9511800
7065604                              4772500,4721104,4729699
                                 ...
7167995                                              4399105
7167996                                                  NaN
7167997    5819100,9511800,6190699,5813100,4752100,581150...
7167998                                                  NaN
7167999    0122900,0210107,0220906,0230600,1629301,310120...
Name: CNAE_SECUNDARIA, Length: 102400, dtype: object

/tmp/ipykernel_535449/2280953596.py:24: DtypeWarning: Columns (22,26) have mixed types. Specify dtype option on import or set low_memory=False.
  for  chunk in pd.read_csv(filename, sep= ';', header=None, encoding='latin1', chunksize=chunksize):

7168000              4729601,4729699,5091202,4743100,4744099
7168001                                              5611203
7168002    4732600,4744003,4723700,4729601,4721103,475989...
7168003                                                  NaN
7168004      4512902,4541204,4542102,6619302,7490104,8291100
                                 ...
7270395                                                  NaN
7270396                                                  NaN
7270397                                                  NaN
7270398                                      5611203,5611201
7270399                                                  NaN
Name: CNAE_SECUNDARIA, Length: 102400, dtype: object
7270400                                                  NaN
7270401                              9511800,6920601,4751201
7270402                                                  NaN
7270403                                                  NaN
7270404                                              4520007
                                 ...
7372795                                                  NaN
7372796                                                  NaN
7372797                                                  NaN
7372798                                                  NaN
7372799    4789099,4785799,4782201,4755503,4330405,433040...
Name: CNAE_SECUNDARIA, Length: 102400, dtype: object

/tmp/ipykernel_535449/2280953596.py:24: DtypeWarning: Columns (26) have mixed types. Specify dtype option on import or set low_memory=False.
  for  chunk in pd.read_csv(filename, sep= ';', header=None, encoding='latin1', chunksize=chunksize):

7372800                                                NaN
7372801            4742300,4744003,4712100,4723700,4744001
7372802                                            4330404
7372803                                                NaN
7372804    8130300,2542000,3101200,4330403,4399103,9700500
                                ...
7475195                                    4753900,4762800
7475196            4541206,4530705,4732600,4520005,2950600
7475197                                                NaN
7475198                                                NaN
7475199                                                NaN
Name: CNAE_SECUNDARIA, Length: 102400, dtype: object
7475200                              2330399,2341900,4679699
7475201    8592999,1412602,8230001,8599699,7319002,331472...
7475202                                                  NaN
7475203                      4789099,4789001,4723700,4724500
7475204                                                  NaN
                                 ...
7577595                                                  NaN
7577596                                              8230002
7577597                                      7020400,8599699
7577598                                                  NaN
7577599                              4530703,4530704,5229002
Name: CNAE_SECUNDARIA, Length: 102400, dtype: object
7577600                                              1359600
7577601                                                  NaN
7577602                                              3831901
7577603                                                  NaN
7577604                              4755503,4782201,4772500
                                 ...
7679995                                              4753900
7679996    4120400,4321500,4322301,4322302,4329199,433040...
7679997                                                  NaN
7679998                                                  NaN
7679999                                              4929902
Name: CNAE_SECUNDARIA, Length: 102400, dtype: object
7680000                                    5611204,5611203
7680001                                                NaN
7680002                                                NaN
7680003    4120400,4399101,4613300,4619200,4679699,4744099
7680004                                                NaN
                                ...
7782395                                            1359600
7782396                                    6463800,6822600
7782397                            4755503,4789001,4781400
7782398                                            9609208
7782399                                                NaN
Name: CNAE_SECUNDARIA, Length: 102400, dtype: object
7782400                                              9602501
7782401    4781400,4789099,4713002,4763601,4753900,477250...
7782402                                                  NaN
7782403                                                  NaN
7782404                                      7319002,8219999
                                 ...
7884795                      7311400,7319004,4619200,8211300
7884796                                      4530703,4520001
7884797                                                  NaN
7884798                                      3831999,3839499
7884799                                                  NaN
Name: CNAE_SECUNDARIA, Length: 102400, dtype: object
7884800                NaN
7884801            8219999
7884802            3329599
7884803    6920602,8219999
7884804    6190699,4321500
                ...
7987195    4729699,4772500
7987196    1412602,9602501
7987197    6619302,7020400
7987198            9609206
7987199                NaN
Name: CNAE_SECUNDARIA, Length: 102400, dtype: object
7987200                                              1529700
7987201                                              8219999
7987202                                                  NaN
7987203                                      5611201,5611205
7987204    7119704,8630501,8640208,8650002,8650003,865000...
                                 ...
8089595                                              4722901
8089596                                                  NaN
8089597                                                  NaN
8089598      4541206,4789099,4781400,4541207,8599604,8592999
8089599                                                  NaN
Name: CNAE_SECUNDARIA, Length: 102400, dtype: object
8089600    1413401,1413402,1521100,1812100,1813001,181309...
8089601                                                  NaN
8089602                                              9602502
8089603                                      4789002,4729699
8089604                                              8630502
                                 ...
8191995                                                  NaN
8191996                      4543900,4530703,4530704,4520001
8191997                                                  NaN
8191998                                                  NaN
8191999      8130300,8129000,4321500,4322301,4330404,4399103
Name: CNAE_SECUNDARIA, Length: 102400, dtype: object

/tmp/ipykernel_535449/2280953596.py:24: DtypeWarning: Columns (8,22,26) have mixed types. Specify dtype option on import or set low_memory=False.
  for  chunk in pd.read_csv(filename, sep= ';', header=None, encoding='latin1', chunksize=chunksize):

8192000                NaN
8192001                NaN
8192002            4789099
8192003    4755502,8230001
8192004                NaN
                ...
8294395                NaN
8294396                NaN
8294397                NaN
8294398                NaN
8294399                NaN
Name: CNAE_SECUNDARIA, Length: 102400, dtype: object
8294400                        NaN
8294401                        NaN
8294402                        NaN
8294403                        NaN
8294404                        NaN
                    ...
8396795                        NaN
8396796                    7319002
8396797    4723700,5611204,5611203
8396798            4781400,7420001
8396799                    9602501
Name: CNAE_SECUNDARIA, Length: 102400, dtype: object
8396800    0161099,3313901,4751201,4753900,4789007,493020...
8396801    4213800,4399101,7119703,7410202,7490104,813030...
8396802    4742300,4732600,4744003,4751201,4741500,477250...
8396803                              4633801,4634699,5223100
8396804                                              1412601
                                 ...
8499195                                                  NaN
8499196                                                  NaN
8499197                                      1091102,1093701
8499198                                                  NaN
8499199                      7490104,8219999,8599604,8599699
Name: CNAE_SECUNDARIA, Length: 102400, dtype: object

/tmp/ipykernel_535449/2280953596.py:24: DtypeWarning: Columns (22,26) have mixed types. Specify dtype option on import or set low_memory=False.
  for  chunk in pd.read_csv(filename, sep= ';', header=None, encoding='latin1', chunksize=chunksize):

8499200    4929901,4929902,7719599
8499201                    7119703
8499202                        NaN
8499203                    5612100
8499204                        NaN
                    ...
8601595    8630502,8640202,8640208
8601596                        NaN
8601597                        NaN
8601598                        NaN
8601599                        NaN
Name: CNAE_SECUNDARIA, Length: 102400, dtype: object
8601600                        NaN
8601601                        NaN
8601602    5620104,4789099,4723700
8601603                        NaN
8601604                    5229099
                    ...
8703995                    4520003
8703996            4773300,4772500
8703997                    4772500
8703998    8592999,8592902,8592903
8703999                    4330403
Name: CNAE_SECUNDARIA, Length: 102400, dtype: object
8704000                                                  NaN
8704001                                                  NaN
8704002                                                  NaN
8704003                              4789099,4763604,4724500
8704004                      1096100,1031700,1093702,1094500
                                 ...
8806395    2511000,2513600,2521700,2539001,2832100,283300...
8806396                      2542000,9529105,4399103,3103900
8806397                                      5229099,4930201
8806398      8599699,5812302,5912099,5912001,9001902,5612100
8806399                                                  NaN
Name: CNAE_SECUNDARIA, Length: 102400, dtype: object
8806400                                              4321500
8806401    4752100,7729203,6190699,4751201,7319002,773900...
8806402    5811500,5813100,5819100,5912099,7420001,742000...
8806403                                      4723700,5611201
8806404                                              5611203
                                 ...
8908795                                                  NaN
8908796    4321500,4330402,4330403,4330404,4330405,433049...
8908797    1096100,1033301,1033302,5612100,1091102,109370...
8908798                                                  NaN
8908799                                                  NaN
Name: CNAE_SECUNDARIA, Length: 102400, dtype: object
8908800                                                  NaN
8908801      8630502,8630503,8640202,8650004,8690901,9602502
8908802                                                  NaN
8908803                                                  NaN
8908804                                              7420001
                                 ...
9011195                                                  NaN
9011196                                              4541206
9011197                                              4781400
9011198    4789001,4723700,4763601,4772500,4789008,478220...
9011199                                              5819100
Name: CNAE_SECUNDARIA, Length: 102400, dtype: object
9011200            1412601,4782201,4782202
9011201                                NaN
9011202                                NaN
9011203                                NaN
9011204    4755503,4772500,4782202,4782201
                        ...
9113595                    5612100,1091102
9113596                            4930201
9113597                            7319002
9113598                            8130300
9113599            4930204,4930201,4930203
Name: CNAE_SECUNDARIA, Length: 102400, dtype: object
9113600                      4321500,4330403,4330404,4330405
9113601      5812302,5812301,5912099,5813100,8219999,7420001
9113602                              4744099,5250804,5320201
9113603                                                  NaN
9113604                                                  NaN
                                 ...
9215995                                                  NaN
9215996                                      7319002,8219999
9215997                                              4729699
9215998                                                  NaN
9215999    9001906,7319001,7319002,9001902,9001903,181309...
Name: CNAE_SECUNDARIA, Length: 102400, dtype: object
9216000                              4322301,4330402,4330404
9216001                                                  NaN
9216002    4781400,4721103,4723700,4755502,4759801,475550...
9216003                                      8630502,8630503
9216004                                                  NaN
                                 ...
9318395                              1529700,2319200,4783101
9318396                                              8599699
9318397                                                  NaN
9318398                              7420004,9001906,7420001
9318399                                                  NaN
Name: CNAE_SECUNDARIA, Length: 102400, dtype: object
9318400                            4755503
9318401                                NaN
9318402                                NaN
9318403            7420004,7319002,7420002
9318404                                NaN
                        ...
9420795    5320202,4930204,5229099,4930201
9420796                                NaN
9420797                                NaN
9420798    5812302,5812301,5912099,7420001
9420799                            7319003
Name: CNAE_SECUNDARIA, Length: 102400, dtype: object
9420800                                                NaN
9420801                                                NaN
9420802                                                NaN
9420803                                                NaN
9420804                                                NaN
                                ...
9523195                                                NaN
9523196                                            7319002
9523197                                                NaN
9523198                                                NaN
9523199    8130300,4530703,4530704,2950600,5611203,4520002
Name: CNAE_SECUNDARIA, Length: 102400, dtype: object
9523200                                NaN
9523201                                NaN
9523202                            9511800
9523203                                NaN
9523204            4781400,4530703,4930201
                        ...
9625595                                NaN
9625596                                NaN
9625597                                NaN
9625598    5620104,1096100,5611201,5611203
9625599                                NaN
Name: CNAE_SECUNDARIA, Length: 102400, dtype: object

/tmp/ipykernel_535449/2280953596.py:24: DtypeWarning: Columns (8,21,24,26,28) have mixed types. Specify dtype option on import or set low_memory=False.
  for  chunk in pd.read_csv(filename, sep= ';', header=None, encoding='latin1', chunksize=chunksize):

9625600                                                  NaN
9625601                      7732201,4930204,3600602,4930201
9625602                                              1032599
9625603                                              9511800
9625604                                      4742300,4744099
                                 ...
9727995                                                  NaN
9727996    6399200,7410299,7490105,7490199,8219999,829970...
9727997                                              0990403
9727998                                                  NaN
9727999                                      4330403,9529105
Name: CNAE_SECUNDARIA, Length: 102400, dtype: object

/tmp/ipykernel_535449/2280953596.py:24: DtypeWarning: Columns (8,26,28) have mixed types. Specify dtype option on import or set low_memory=False.
  for  chunk in pd.read_csv(filename, sep= ';', header=None, encoding='latin1', chunksize=chunksize):

9728000                                        NaN
9728001                                        NaN
9728002                            8640204,8640211
9728003                                        NaN
9728004                                    6202300
                            ...
9830395                                        NaN
9830396                                        NaN
9830397                                        NaN
9830398    4120400,4321500,4322301,2391503,4391600
9830399                                        NaN
Name: CNAE_SECUNDARIA, Length: 102400, dtype: object

/tmp/ipykernel_535449/2280953596.py:24: DtypeWarning: Columns (22,24,26) have mixed types. Specify dtype option on import or set low_memory=False.
  for  chunk in pd.read_csv(filename, sep= ';', header=None, encoding='latin1', chunksize=chunksize):

9830400                    8550301,8550302
9830401                            8111700
9830402    4530703,4520002,4520003,4520004
9830403                                NaN
9830404                                NaN
                        ...
9932795                                NaN
9932796                                NaN
9932797    4753900,4754702,4755502,4755503
9932798                                NaN
9932799                                NaN
Name: CNAE_SECUNDARIA, Length: 102400, dtype: object

/tmp/ipykernel_535449/2280953596.py:24: DtypeWarning: Columns (8,22,24,26) have mixed types. Specify dtype option on import or set low_memory=False.
  for  chunk in pd.read_csv(filename, sep= ';', header=None, encoding='latin1', chunksize=chunksize):

9932800                                                   NaN
9932801     4930201,4930203,4683400,2330302,1095300,106600...
9932802                                                   NaN
9932803                                                   NaN
9932804                                                   NaN
                                  ...
10035195                                                  NaN
10035196                                                  NaN
10035197                      4744001,4744003,4741500,4754703
10035198                                                  NaN
10035199                                                  NaN
Name: CNAE_SECUNDARIA, Length: 102400, dtype: object

/tmp/ipykernel_535449/2280953596.py:24: DtypeWarning: Columns (8,22,26) have mixed types. Specify dtype option on import or set low_memory=False.
  for  chunk in pd.read_csv(filename, sep= ';', header=None, encoding='latin1', chunksize=chunksize):

10035200                                NaN
10035201    4772500,4789004,9609207,9609208
10035202                                NaN
10035203                                NaN
10035204                                NaN
                         ...
10137595                                NaN
10137596                                NaN
10137597                                NaN
10137598                                NaN
10137599                                NaN
Name: CNAE_SECUNDARIA, Length: 102400, dtype: object

/tmp/ipykernel_535449/2280953596.py:24: DtypeWarning: Columns (8) have mixed types. Specify dtype option on import or set low_memory=False.
  for  chunk in pd.read_csv(filename, sep= ';', header=None, encoding='latin1', chunksize=chunksize):

10137600                                        NaN
10137601                                        NaN
10137602                                        NaN
10137603    8511200,8599604,8599699,9493600,9499500
10137604                                        NaN
                             ...
10239995                                        NaN
10239996                                        NaN
10239997                                    2063100
10239998                                        NaN
10239999                                        NaN
Name: CNAE_SECUNDARIA, Length: 102400, dtype: object

/tmp/ipykernel_535449/2280953596.py:24: DtypeWarning: Columns (8,22,24,26) have mixed types. Specify dtype option on import or set low_memory=False.
  for  chunk in pd.read_csv(filename, sep= ';', header=None, encoding='latin1', chunksize=chunksize):

10240000                                                  NaN
10240001                                                  NaN
10240002    6399200,7410299,7490105,7490199,8219999,829970...
10240003                                                  NaN
10240004                                                  NaN
                                  ...
10342395                                                  NaN
10342396                                                  NaN
10342397                                                  NaN
10342398                      2599301,3292202,3299003,3319800
10342399                                                  NaN
Name: CNAE_SECUNDARIA, Length: 102400, dtype: object

/tmp/ipykernel_535449/2280953596.py:24: DtypeWarning: Columns (8,22,26) have mixed types. Specify dtype option on import or set low_memory=False.
  for  chunk in pd.read_csv(filename, sep= ';', header=None, encoding='latin1', chunksize=chunksize):

10342400                                                  NaN
10342401                                                  NaN
10342402                                      9493600,9499500
10342403                                                  NaN
10342404                                                  NaN
                                  ...
10444795                      6202300,6203100,7490104,8599604
10444796                                                  NaN
10444797    4211101,4313400,4330401,4741500,4742300,474400...
10444798                                                  NaN
10444799                                                  NaN
Name: CNAE_SECUNDARIA, Length: 102400, dtype: object

/tmp/ipykernel_535449/2280953596.py:24: DtypeWarning: Columns (8,21,22,26) have mixed types. Specify dtype option on import or set low_memory=False.
  for  chunk in pd.read_csv(filename, sep= ';', header=None, encoding='latin1', chunksize=chunksize):

10444800                NaN
10444801                NaN
10444802                NaN
10444803                NaN
10444804                NaN
                 ...
10547195                NaN
10547196                NaN
10547197    7912100,7990200
10547198                NaN
10547199                NaN
Name: CNAE_SECUNDARIA, Length: 102400, dtype: object

/tmp/ipykernel_535449/2280953596.py:24: DtypeWarning: Columns (8,22,26) have mixed types. Specify dtype option on import or set low_memory=False.
  for  chunk in pd.read_csv(filename, sep= ';', header=None, encoding='latin1', chunksize=chunksize):

10547200    NaN
10547201    NaN
10547202    NaN
10547203    NaN
10547204    NaN
           ...
10649595    NaN
10649596    NaN
10649597    NaN
10649598    NaN
10649599    NaN
Name: CNAE_SECUNDARIA, Length: 102400, dtype: object

/tmp/ipykernel_535449/2280953596.py:24: DtypeWarning: Columns (8,22,26,28) have mixed types. Specify dtype option on import or set low_memory=False.
  for  chunk in pd.read_csv(filename, sep= ';', header=None, encoding='latin1', chunksize=chunksize):

10649600        NaN
10649601        NaN
10649602        NaN
10649603        NaN
10649604        NaN
             ...
10751995        NaN
10751996        NaN
10751997        NaN
10751998        NaN
10751999    5911102
Name: CNAE_SECUNDARIA, Length: 102400, dtype: object

/tmp/ipykernel_535449/2280953596.py:24: DtypeWarning: Columns (8,24,26) have mixed types. Specify dtype option on import or set low_memory=False.
  for  chunk in pd.read_csv(filename, sep= ';', header=None, encoding='latin1', chunksize=chunksize):

10752000                        NaN
10752001                        NaN
10752002                        NaN
10752003                        NaN
10752004                        NaN
                     ...
10854395                    5611201
10854396            4789001,4755503
10854397                        NaN
10854398                    4782201
10854399    4618401,4618402,4618403
Name: CNAE_SECUNDARIA, Length: 102400, dtype: object

/tmp/ipykernel_535449/2280953596.py:24: DtypeWarning: Columns (22,24) have mixed types. Specify dtype option on import or set low_memory=False.
  for  chunk in pd.read_csv(filename, sep= ';', header=None, encoding='latin1', chunksize=chunksize):

10854400                NaN
10854401            4530705
10854402                NaN
10854403            9521500
10854404            4713002
                 ...
10956795                NaN
10956796                NaN
10956797    9493600,9499500
10956798                NaN
10956799                NaN
Name: CNAE_SECUNDARIA, Length: 102400, dtype: object

/tmp/ipykernel_535449/2280953596.py:24: DtypeWarning: Columns (8) have mixed types. Specify dtype option on import or set low_memory=False.
  for  chunk in pd.read_csv(filename, sep= ';', header=None, encoding='latin1', chunksize=chunksize):

10956800                                              1412603
10956801                                                  NaN
10956802                                                  NaN
10956803                                                  NaN
10956804                                                  NaN
                                  ...
11059195                                                  NaN
11059196    6399200,7410299,7490105,7490199,8219999,829970...
11059197                                                  NaN
11059198                                                  NaN
11059199                                                  NaN
Name: CNAE_SECUNDARIA, Length: 102400, dtype: object

/tmp/ipykernel_535449/2280953596.py:24: DtypeWarning: Columns (8,24,26) have mixed types. Specify dtype option on import or set low_memory=False.
  for  chunk in pd.read_csv(filename, sep= ';', header=None, encoding='latin1', chunksize=chunksize):

11059200    1413403,3292201
11059201                NaN
11059202            4399199
11059203                NaN
11059204                NaN
                 ...
11161595                NaN
11161596                NaN
11161597                NaN
11161598                NaN
11161599                NaN
Name: CNAE_SECUNDARIA, Length: 102400, dtype: object

/tmp/ipykernel_535449/2280953596.py:24: DtypeWarning: Columns (8,24,26,28) have mixed types. Specify dtype option on import or set low_memory=False.
  for  chunk in pd.read_csv(filename, sep= ';', header=None, encoding='latin1', chunksize=chunksize):

11161600        NaN
11161601        NaN
11161602        NaN
11161603        NaN
11161604        NaN
             ...
11263995        NaN
11263996        NaN
11263997    2063100
11263998    4771701
11263999        NaN
Name: CNAE_SECUNDARIA, Length: 102400, dtype: object

/tmp/ipykernel_535449/2280953596.py:24: DtypeWarning: Columns (8,24,26) have mixed types. Specify dtype option on import or set low_memory=False.
  for  chunk in pd.read_csv(filename, sep= ';', header=None, encoding='latin1', chunksize=chunksize):

11264000                                        NaN
11264001                                        NaN
11264002                                        NaN
11264003                                        NaN
11264004                                        NaN
                             ...
11366395                                    5611203
11366396                                    5611204
11366397    4754703,4753900,4520005,4520007,8230001
11366398                                        NaN
11366399                                        NaN
Name: CNAE_SECUNDARIA, Length: 102400, dtype: object

/tmp/ipykernel_535449/2280953596.py:24: DtypeWarning: Columns (8,22,26) have mixed types. Specify dtype option on import or set low_memory=False.
  for  chunk in pd.read_csv(filename, sep= ';', header=None, encoding='latin1', chunksize=chunksize):

11366400                NaN
11366401                NaN
11366402                NaN
11366403                NaN
11366404                NaN
                 ...
11468795                NaN
11468796            8230001
11468797    4713002,4782201
11468798                NaN
11468799                NaN
Name: CNAE_SECUNDARIA, Length: 102400, dtype: object

/tmp/ipykernel_535449/2280953596.py:24: DtypeWarning: Columns (26) have mixed types. Specify dtype option on import or set low_memory=False.
  for  chunk in pd.read_csv(filename, sep= ';', header=None, encoding='latin1', chunksize=chunksize):

11468800                                        NaN
11468801                                        NaN
11468802                                        NaN
11468803    4751201,4753900,4756300,9511800,5611203
11468804                                        NaN
                             ...
11571195                                        NaN
11571196                            4520003,4520004
11571197                                        NaN
11571198                                        NaN
11571199                                        NaN
Name: CNAE_SECUNDARIA, Length: 102400, dtype: object

/tmp/ipykernel_535449/2280953596.py:24: DtypeWarning: Columns (26) have mixed types. Specify dtype option on import or set low_memory=False.
  for  chunk in pd.read_csv(filename, sep= ';', header=None, encoding='latin1', chunksize=chunksize):

11571200                                              1412601
11571201                                              4755503
11571202                                      1411802,4781400
11571203                                                  NaN
11571204    4930201,4930202,4930204,5212500,7732201,421110...
                                  ...
11673595                              4744001,4744099,4744005
11673596                                                  NaN
11673597                                                  NaN
11673598                                                  NaN
11673599                                              4712100
Name: CNAE_SECUNDARIA, Length: 102400, dtype: object

/tmp/ipykernel_535449/2280953596.py:24: DtypeWarning: Columns (26) have mixed types. Specify dtype option on import or set low_memory=False.
  for  chunk in pd.read_csv(filename, sep= ';', header=None, encoding='latin1', chunksize=chunksize):

11673600                                NaN
11673601                    1093701,5620104
11673602                            7319003
11673603    1622699,4322301,2330305,4330404
11673604                                NaN
                         ...
11775995                                NaN
11775996                    5620101,5620102
11775997                                NaN
11775998                            4753900
11775999                            4755502
Name: CNAE_SECUNDARIA, Length: 102400, dtype: object

/tmp/ipykernel_535449/2280953596.py:24: DtypeWarning: Columns (22,26) have mixed types. Specify dtype option on import or set low_memory=False.
  for  chunk in pd.read_csv(filename, sep= ';', header=None, encoding='latin1', chunksize=chunksize):

11776000                        NaN
11776001    7111100,7119703,7732201
11776002                    4723700
11776003                    4520007
11776004            4520001,4530703
                     ...
11878395                        NaN
11878396                        NaN
11878397                        NaN
11878398                        NaN
11878399                        NaN
Name: CNAE_SECUNDARIA, Length: 102400, dtype: object

/tmp/ipykernel_535449/2280953596.py:24: DtypeWarning: Columns (8,12,26) have mixed types. Specify dtype option on import or set low_memory=False.
  for  chunk in pd.read_csv(filename, sep= ';', header=None, encoding='latin1', chunksize=chunksize):

11878400                NaN
11878401                NaN
11878402                NaN
11878403    4763603,4543900
11878404                NaN
                 ...
11980795                NaN
11980796                NaN
11980797                NaN
11980798                NaN
11980799                NaN
Name: CNAE_SECUNDARIA, Length: 102400, dtype: object

/tmp/ipykernel_535449/2280953596.py:24: DtypeWarning: Columns (22,24,26) have mixed types. Specify dtype option on import or set low_memory=False.
  for  chunk in pd.read_csv(filename, sep= ';', header=None, encoding='latin1', chunksize=chunksize):

11980800                                        NaN
11980801                                        NaN
11980802                                        NaN
11980803                                        NaN
11980804                                        NaN
                             ...
12083195    7820500,4930201,5250804,5212500,4930202
12083196                                        NaN
12083197                                        NaN
12083198                                        NaN
12083199                                        NaN
Name: CNAE_SECUNDARIA, Length: 102400, dtype: object

/tmp/ipykernel_535449/2280953596.py:24: DtypeWarning: Columns (26) have mixed types. Specify dtype option on import or set low_memory=False.
  for  chunk in pd.read_csv(filename, sep= ';', header=None, encoding='latin1', chunksize=chunksize):

12083200                              4712100,4721102,5611203
12083201                                                  NaN
12083202                                              4618401
12083203                                                  NaN
12083204      4729601,4722902,5620101,5611203,4763604,5611204
                                  ...
12185595                                                  NaN
12185596                                                  NaN
12185597                                      4520007,4530704
12185598    3329599,4321500,4530701,4530703,4619200,463719...
12185599                                              0115600
Name: CNAE_SECUNDARIA, Length: 102400, dtype: object

/tmp/ipykernel_535449/2280953596.py:24: DtypeWarning: Columns (8) have mixed types. Specify dtype option on import or set low_memory=False.
  for  chunk in pd.read_csv(filename, sep= ';', header=None, encoding='latin1', chunksize=chunksize):

12185600                                NaN
12185601            4723700,4781400,4772500
12185602                                NaN
12185603                                NaN
12185604                            5611201
                         ...
12287995                                NaN
12287996    3321000,3329599,7729299,7729202
12287997                    9602502,4772500
12287998                    4322301,4321500
12287999            1412601,4781400,1340599
Name: CNAE_SECUNDARIA, Length: 102400, dtype: object

/tmp/ipykernel_535449/2280953596.py:24: DtypeWarning: Columns (26) have mixed types. Specify dtype option on import or set low_memory=False.
  for  chunk in pd.read_csv(filename, sep= ';', header=None, encoding='latin1', chunksize=chunksize):

12288000                    4755503
12288001                        NaN
12288002            5212500,4930204
12288003                        NaN
12288004                        NaN
                     ...
12390395                        NaN
12390396                        NaN
12390397    0990403,4679604,4744004
12390398                        NaN
12390399                    6810203
Name: CNAE_SECUNDARIA, Length: 102400, dtype: object

/tmp/ipykernel_535449/2280953596.py:24: DtypeWarning: Columns (22,26) have mixed types. Specify dtype option on import or set low_memory=False.
  for  chunk in pd.read_csv(filename, sep= ';', header=None, encoding='latin1', chunksize=chunksize):

12390400            4755503,4783102,4774100,4782201
12390401                            1531902,1529700
12390402                                        NaN
12390403                                        NaN
12390404                                        NaN
                             ...
12492795                                    4619200
12492796    4399101,4120400,4212000,4222701,8219999
12492797                            0151202,0151201
12492798                                    0119903
12492799                            4723700,5611203
Name: CNAE_SECUNDARIA, Length: 102400, dtype: object

/tmp/ipykernel_535449/2280953596.py:24: DtypeWarning: Columns (26) have mixed types. Specify dtype option on import or set low_memory=False.
  for  chunk in pd.read_csv(filename, sep= ';', header=None, encoding='latin1', chunksize=chunksize):

12492800                    5611204
12492801            4742300,9001902
12492802                        NaN
12492803    4744099,4322302,4322301
12492804                        NaN
                     ...
12595195            0113000,0163600
12595196    4784900,4732600,4930203
12595197                    8219999
12595198                    4721103
12595199                        NaN
Name: CNAE_SECUNDARIA, Length: 102400, dtype: object
12595200            4330405,4322301,4330403,4321500,4399103
12595201    3702900,4222702,4299599,6463800,7112000,7719599
12595202                                                NaN
12595203                                    9430800,9493600
12595204                                                NaN
                                 ...
12697595                            9511800,1822901,1813099
12697596                    4781400,4721102,4723700,4772500
12697597                    9609208,4771704,4789005,4763604
12697598                                    4755503,4759801
12697599                                                NaN
Name: CNAE_SECUNDARIA, Length: 102400, dtype: object

/tmp/ipykernel_535449/2280953596.py:24: DtypeWarning: Columns (22,26) have mixed types. Specify dtype option on import or set low_memory=False.
  for  chunk in pd.read_csv(filename, sep= ';', header=None, encoding='latin1', chunksize=chunksize):

12697600                                              5819100
12697601    8230002,7420001,9001906,7420004,7990200,772920...
12697602                                                  NaN
12697603                              9602501,4781400,4772500
12697604                                                  NaN
                                  ...
12799995                                                  NaN
12799996                                                  NaN
12799997                                                  NaN
12799998                                                  NaN
12799999                                                  NaN
Name: CNAE_SECUNDARIA, Length: 102400, dtype: object

/tmp/ipykernel_535449/2280953596.py:24: DtypeWarning: Columns (8,22,26) have mixed types. Specify dtype option on import or set low_memory=False.
  for  chunk in pd.read_csv(filename, sep= ';', header=None, encoding='latin1', chunksize=chunksize):

12800000                        NaN
12800001                        NaN
12800002                        NaN
12800003                        NaN
12800004                        NaN
                     ...
12902395                        NaN
12902396                        NaN
12902397                        NaN
12902398    4712100,4724500,4722902
12902399                        NaN
Name: CNAE_SECUNDARIA, Length: 102400, dtype: object

/tmp/ipykernel_535449/2280953596.py:24: DtypeWarning: Columns (8,22) have mixed types. Specify dtype option on import or set low_memory=False.
  for  chunk in pd.read_csv(filename, sep= ';', header=None, encoding='latin1', chunksize=chunksize):

12902400    NaN
12902401    NaN
12902402    NaN
12902403    NaN
12902404    NaN
           ...
13004795    NaN
13004796    NaN
13004797    NaN
13004798    NaN
13004799    NaN
Name: CNAE_SECUNDARIA, Length: 102400, dtype: object

/tmp/ipykernel_535449/2280953596.py:24: DtypeWarning: Columns (22,26) have mixed types. Specify dtype option on import or set low_memory=False.
  for  chunk in pd.read_csv(filename, sep= ';', header=None, encoding='latin1', chunksize=chunksize):

13004800                                                  NaN
13004801                                                  NaN
13004802                                                  NaN
13004803                                                  NaN
13004804                                                  NaN
                                  ...
13107195                                              5819100
13107196    9512600,8599603,6190699,4752100,8299707,478900...
13107197      4751201,4753900,4757100,9511800,9512600,9521500
13107198                                                  NaN
13107199                                                  NaN
Name: CNAE_SECUNDARIA, Length: 102400, dtype: object
13107200                            4789008
13107201                    4755501,1359600
13107202                    9602502,4772500
13107203                            4772500
13107204                                NaN
                         ...
13209595    4742300,4783101,4753900,4782201
13209596    4399199,4322301,4321500,4399103
13209597            4330405,4330404,4321500
13209598                                NaN
13209599                    4929901,4929902
Name: CNAE_SECUNDARIA, Length: 102400, dtype: object

/tmp/ipykernel_535449/2280953596.py:24: DtypeWarning: Columns (26) have mixed types. Specify dtype option on import or set low_memory=False.
  for  chunk in pd.read_csv(filename, sep= ';', header=None, encoding='latin1', chunksize=chunksize):

13209600                        NaN
13209601                        NaN
13209602                        NaN
13209603                        NaN
13209604    5620104,1096100,1094500
                     ...
13311995                    9602501
13311996                        NaN
13311997                    9313100
13311998            4755502,4789001
13311999                        NaN
Name: CNAE_SECUNDARIA, Length: 102400, dtype: object
13312000                                        NaN
13312001                    4732600,4541206,4530705
13312002                            4782201,4772500
13312003    4921301,4923002,7711000,7911200,7990200
13312004            4330403,4679604,4744001,4744005
                             ...
13414395                                    4783101
13414396                                        NaN
13414397                                        NaN
13414398                                        NaN
13414399                                        NaN
Name: CNAE_SECUNDARIA, Length: 102400, dtype: object
13414400                                NaN
13414401    8599699,8599604,8219999,4520001
13414402                            6619399
13414403                                NaN
13414404                                NaN
                         ...
13516795                                NaN
13516796                    4321500,4330404
13516797                            4789099
13516798                                NaN
13516799                            4751201
Name: CNAE_SECUNDARIA, Length: 102400, dtype: object
13516800                                        NaN
13516801                                        NaN
13516802                                    4530703
13516803                                        NaN
13516804                                        NaN
                             ...
13619195                            5620104,1092900
13619196    4330404,4399199,4330403,4322301,4321500
13619197    4923001,5320201,4929901,4929902,5091202
13619198                                        NaN
13619199                                        NaN
Name: CNAE_SECUNDARIA, Length: 102400, dtype: object
13619200                                                  NaN
13619201                      4322301,4321500,4789005,9602502
13619202                                              4772500
13619203                              4721103,4723700,5611203
13619204                                      1412601,9602502
                                  ...
13721595                                                  NaN
13721596                                                  NaN
13721597                                                  NaN
13721598    4618499,6201501,6203100,6204000,6311900,631940...
13721599              4759801,4763602,4755503,4763601,4782201
Name: CNAE_SECUNDARIA, Length: 102400, dtype: object
13721600                                    5620102
13721601                            5611204,5611203
13721602                                    9602502
13721603            4755503,4755501,4782201,4772500
13721604                            4753900,4759899
                             ...
13823995                                    4930201
13823996            4789003,2740602,4713002,4754703
13823997                                        NaN
13823998    6141800,6311900,8020001,9511800,9512600
13823999                                    4755502
Name: CNAE_SECUNDARIA, Length: 102400, dtype: object
13824000                    4782201
13824001                        NaN
13824002                    4752100
13824003    3103900,4754701,9529105
13824004                    7319002
                     ...
13926395                        NaN
13926396                    8219999
13926397                        NaN
13926398                    4772500
13926399                        NaN
Name: CNAE_SECUNDARIA, Length: 102400, dtype: object

/tmp/ipykernel_535449/2280953596.py:24: DtypeWarning: Columns (26) have mixed types. Specify dtype option on import or set low_memory=False.
  for  chunk in pd.read_csv(filename, sep= ';', header=None, encoding='latin1', chunksize=chunksize):

13926400                                              5620102
13926401                                                  NaN
13926402                                                  NaN
13926403                                                  NaN
13926404                                                  NaN
                                  ...
14028795                                                  NaN
14028796                                                  NaN
14028797                                                  NaN
14028798                                                  NaN
14028799    8599699,4781400,9602501,4723700,4729699,475550...
Name: CNAE_SECUNDARIA, Length: 102400, dtype: object

/tmp/ipykernel_535449/2280953596.py:24: DtypeWarning: Columns (8) have mixed types. Specify dtype option on import or set low_memory=False.
  for  chunk in pd.read_csv(filename, sep= ';', header=None, encoding='latin1', chunksize=chunksize):

14028800                                                  NaN
14028801                                                  NaN
14028802                                                  NaN
14028803    8130300,3101200,4321500,4322301,2599301,433040...
14028804                                                  NaN
                                  ...
14131195                                                  NaN
14131196                                                  NaN
14131197                                                  NaN
14131198                                                  NaN
14131199                                                  NaN
Name: CNAE_SECUNDARIA, Length: 102400, dtype: object
14131200    NaN
14131201    NaN
14131202    NaN
14131203    NaN
14131204    NaN
           ...
14233595    NaN
14233596    NaN
14233597    NaN
14233598    NaN
14233599    NaN
Name: CNAE_SECUNDARIA, Length: 102400, dtype: object
14233600                                    5250805,7740300
14233601                                                NaN
14233602                                                NaN
14233603            8610101,8610102,8630501,8630502,8712300
14233604                                                NaN
                                 ...
14335995            4781400,4755503,4763601,4772500,4782201
14335996                                                NaN
14335997                                                NaN
14335998    4729699,4763602,4781400,4782201,5611203,8591100
14335999                                                NaN
Name: CNAE_SECUNDARIA, Length: 102400, dtype: object

/tmp/ipykernel_535449/2280953596.py:24: DtypeWarning: Columns (26) have mixed types. Specify dtype option on import or set low_memory=False.
  for  chunk in pd.read_csv(filename, sep= ';', header=None, encoding='latin1', chunksize=chunksize):

14336000                                                  NaN
14336001                              4781400,4723700,4763602
14336002                                      4757100,7319002
14336003                                                  NaN
14336004                                                  NaN
                                  ...
14438395                                                  NaN
14438396    4120400,4221905,4742300,4744001,4744005,475210...
14438397                              8291100,8299799,8599604
14438398      4511101,4511102,4512902,4619200,7490104,7711000
14438399              4753900,4755503,4772500,4782202,4789001
Name: CNAE_SECUNDARIA, Length: 102400, dtype: object
14438400    6201501,6201502,6202300,6203100,6204000,631190...
14438401                                              5912099
14438402                                              7119703
14438403                                                  NaN
14438404    5819100,5811500,5812302,5912099,7319002,581310...
                                  ...
14540795                                                  NaN
14540796                                                  NaN
14540797                                                  NaN
14540798                              2539001,3314711,8230001
14540799                                              4751201
Name: CNAE_SECUNDARIA, Length: 102400, dtype: object
14540800                        NaN
14540801                    0119999
14540802                        NaN
14540803                    1412602
14540804            9609299,4930201
                     ...
14643195            4789001,7319002
14643196                        NaN
14643197    4763602,4782201,4782202
14643198            5611201,5611203
14643199            8610102,8630502
Name: CNAE_SECUNDARIA, Length: 102400, dtype: object
14643200                              6821802,7319002,8219999
14643201    1811301,1811302,1813001,1813099,1821100,182290...
14643202    4789099,5811500,5912099,7020400,8230001,829110...
14643203                                                  NaN
14643204    0810002,0810003,0899199,2391502,2391503,467960...
                                  ...
14745595                                                  NaN
14745596    5811500,8599699,5912099,8599605,8592999,821999...
14745597                                      0115600,0111302
14745598                                      6190699,8599603
14745599                                                  NaN
Name: CNAE_SECUNDARIA, Length: 102400, dtype: object
14745600                                      7729202,7733100
14745601                                                  NaN
14745602                      5229002,4520006,4520001,9529102
14745603                                              5320202
14745604    8532500,8533300,8541400,8542200,8593700,859960...
                                  ...
14847995                                              0161003
14847996                                                  NaN
14847997                                                  NaN
14847998                                                  NaN
14847999                              4321500,4399103,4330405
Name: CNAE_SECUNDARIA, Length: 102400, dtype: object
14848000                                              4781400
14848001                                                  NaN
14848002                                                  NaN
14848003                                                  NaN
14848004    7729201,7721700,2740602,8599605,3240099,859960...
                                  ...
14950395                                      4771704,9609207
14950396                                                  NaN
14950397                                      5912099,5812301
14950398                                      4929902,4929901
14950399                              2599301,4330499,4399199
Name: CNAE_SECUNDARIA, Length: 102400, dtype: object
14950400                                                NaN
14950401                                    9602502,4782201
14950402    8130300,4321500,4322301,4399103,4330404,0161003
14950403                            9001906,9521500,9511800
14950404                                            3329501
                                 ...
15052795                    8610102,8630501,8630502,8630503
15052796                                            5611205
15052797            5620103,5620102,4723700,5611201,5611203
15052798                                            3299099
15052799                                                NaN
Name: CNAE_SECUNDARIA, Length: 102400, dtype: object

/tmp/ipykernel_535449/2280953596.py:24: DtypeWarning: Columns (26) have mixed types. Specify dtype option on import or set low_memory=False.
  for  chunk in pd.read_csv(filename, sep= ';', header=None, encoding='latin1', chunksize=chunksize):

15052800                                NaN
15052801                            4930202
15052802                            5620104
15052803                                NaN
15052804                                NaN
                         ...
15155195                            4724500
15155196                            5620104
15155197                                NaN
15155198    7319002,3299006,1099605,8230001
15155199                                NaN
Name: CNAE_SECUNDARIA, Length: 102400, dtype: object
15155200                                NaN
15155201                    9602501,9609206
15155202                                NaN
15155203                            3329501
15155204                                NaN
                         ...
15257595            4723700,4772500,4789005
15257596                                NaN
15257597                                NaN
15257598    8599699,8130300,4759899,3299099
15257599                                NaN
Name: CNAE_SECUNDARIA, Length: 102400, dtype: object
15257600                                                  NaN
15257601                                                  NaN
15257602                                              8230001
15257603    4789099,5620102,1096100,5620101,4723700,472110...
15257604                                                  NaN
                                  ...
15359995                                                  NaN
15359996                                                  NaN
15359997                                              4929902
15359998                                              6822600
15359999                              6810201,6821801,6821802
Name: CNAE_SECUNDARIA, Length: 102400, dtype: object
15360000            8219999
15360001            3319800
15360002    4399103,4321500
15360003                NaN
15360004                NaN
                 ...
15462395    4923002,4929901
15462396    4729601,5611203
15462397    5812301,5912099
15462398    7119703,7119799
15462399                NaN
Name: CNAE_SECUNDARIA, Length: 102400, dtype: object
15462400                                            7319099
15462401                                    6202300,6203100
15462402    8610101,8610102,8630501,8630502,8630599,8640203
15462403    0161003,0163600,7112000,7119701,7312200,7319003
15462404                                                NaN
                                 ...
15469792                                                NaN
15469793                                                NaN
15469794                                                NaN
15469795                                            8230001
15469796                                                NaN
Name: CNAE_SECUNDARIA, Length: 7397, dtype: object